{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>
	body {background-color: #f0f4f5}
</style>
<div role="banner" id="global-header" style="background-color:#004D86;">
	<!-- DARK BLUE HEADER STRIP -->
	<!-- 
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
		</div> 
		-->
</div>
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">
				<h1 class="heading-large" style="padding-bottom: 2rem;">
						Sorry, this service is currently unavailable
					</h1>
			<p>This is due to scheduled maintentance.
			</p>
			<p>Please try again later.</p>
		</div>
		<div class="column-third">
		</div>
	</div>
</main>
{% endblock %}