$nhsuk-black: #212b32;
$nhsuk-blue: #005EB8;
$nhsuk-light-blue-1: #80AEDB;
$nhsuk-light-blue-2: #4D8ECD;
$nhsuk-dark-blue-1: #003970;
$nhsuk-white: #fff;
$nhsuk-link-hover-background-colour: #ffcd60;
$nhsuk-grey-1: #425563;
$nhsuk-grey-2: #768692;
$nhsuk-grey-3: #aeb7bd;
$nhsuk-grey-4: #d8dde0;
$nhsuk-grey-5: #f0f4f5;