{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			<a href="/complete-screen/clinic" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg" style="width:8px;" />  Back to clinics</a>
			<div style="float:right;"><a href="/complete-screen/login" style="color:#ffffff;">Log out</a></div>
		</div>
	</div>
	<main id="content" role="main" style="padding-top:3rem;">
		<h1 class="heading-xlarge" style="color: #0072C6;">
		Select an appointment
		</h1>
		<div class="grid-row">
			<div class="column-two-thirds" >
				<p>General Respiratory Medicine-Respiratory Medicine-Leeds (Seacroft Hospital)-40671</p>
				<!--<h3 class="heading-medium">Referral to book</h3>-->
				<div>
					<!--<h3 class="heading-medium">Appointments available</h3>-->
					<!--<div style="margin-bottom: 3rem !important;">
						<a href="#" class="button button-secondary">Morning</a>&nbsp;
						<a href="#" class="button button-secondary">Afternoon</a>&nbsp;
						<a href="#" class="button button-secondary">Evening</a>
					</div>-->
					<div style="border-bottom:solid 3px #95989A; ">
						<h3 class="heading-medium">June 2018</h3>
					</div>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Friday 15th</strong></td>
									<td>9:30am</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Monday 18th</strong></td>
									<td>1:30pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Wednesday 20th</strong></td>
									<td>5:30pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Thursday 21st</strong></td>
									<td>6:00pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<div style="border-bottom:solid 3px #95989A;margin-top:3rem; ">
						<h3 class="heading-medium">July 2018</h3>
					</div>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Friday 6th</strong></td>
									<td>9:30am</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Monday 9th</strong></td>
									<td>1:30pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Wednesday 11th</strong></td>
									<td>5:30pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Thursday 12th</strong></td>
									<td>6:00pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 150px !important;"><strong>Wednesday 18th</strong></td>
									<td>5:30pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<a href="/complete-screen/check" style="text-decoration:none;color:#231F20;">
						<div style="padding:1.5rem 0rem 1.5rem 0rem;border-bottom:solid 1px #95989A;">
							<table class="equalDevide" style="border:0px;">
								<tr>
									<td style="width: 250px !important;"><strong>Thursday 19th</strong></td>
									<td>6:00pm</td>
									<td style="text-align:right;"><a href="/complete-screen/check"></a>&nbsp;<img src="/public/images/forward.svg" style="width:8px;" /></td>
								</tr>
							</table>
						</div>
					</a>
					<div>
						<p style="margin-top:3rem;text-align:center;">
							<a href="">Load more appointments</a>
						</p>        </div>
					</div>
				</div>
				<div class="column-third">
				</div>
			</div>
		</main>
	{% endblock %}