{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<style>
			.item {
			background: #ffffff;
			padding: 1.4rem;
			margin-top: 2px;
			}
			#printmessage {display: none;}
			@media print {
		/* print styles go here */
		body {
			font: 13pt sans-serif;
			line-height: 1;
			padding:0;
			}
			body {visibility: hidden;}
			body #global-header {display: none;}
			body #confirm {display: none;}
			body #footer {display: none;}
			body #skiplink-container {display: none;}
			.appointment {visibility:visible;  margin: 0cm;}
			.appointment a {visibility: hidden;}
			.item {padding:0cm; margin: 0px;}
			#printmessage {display: block;}
		}
	</style>
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
			<div style="float:right;"><a href="/complete-screen/login" style="color:#ffffff;">Log out</a></div>
		</div>
	</div>
	<main id="content" role="main" style="padding-top:3rem;">
		<!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->
		<div class="grid-row">
			<div class="column-two-thirds" >
				<div style="background-color:#28A197;color:#ffffff;padding:2rem;text-align:center;margin-bottom:4rem;" id="confirm">
					<h1 class="heading-xlarge" style="margin-bottom: 0px !important;color:#ffffff;">
					&#10004; Appointment request submitted
					</h1>
					<h3 class="heading-medium">Please keep this information for your records</h3>
				</div>
				<div id="confirm">
					<h3 class="heading-medium">What happens next?</h3>
					<div style="border-left:10px solid #dee0e2;padding-left:2rem;margin-bottom:4rem;margin-top:1rem;">
						<h3 class="heading-small"><img src="/public/images/icon-important.png" /> The clinic will contact you to book an appointment</h3>
						<p>If the clinic does not contact you by Friday 15 December 2017, you can contact them on 0113 123 1234 (Monday to Friday, 9am to 5pm).</p>
					</div>
				</div>
				<div style="background:#dee0e2;padding:1rem;" class="appointment">
					<h3 class="heading-medium">Your appointment request details</h3>
					<div class="item">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
							<strong>Booking reference number</strong><br />
						XXXX XXXX XXXX</p>
					</div>
					<div class="item">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
						<strong>Clinic</strong><br />General Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</p>
					</div>
					<div class="item">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
							<strong>Location</strong><br />
						Hospital St, City, PO5 7CO</p>
					</div>
					<div class="item">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> <strong>Referred by</strong><br />
						Dr Zubeir Smith at Colton Mill Medical Centre</p>
					</div>
					<div class="item">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
							<strong>Your comments</strong><br />
						I cannot be contacted Monday to Wednesday, 9am to 12 noon.  </p>
					</div>
					<div id="printmessage"><p>The clinic will contact you to book an appointment.</p>
						<p>If the clinic does not contact you by Friday 15 December 2017, you can contact them on 0113 123 1234 (Monday to Friday, 9am to 5pm).</p><p>To change or cancel this apopintment go to nhs.uk/referrals. You will need to login using the reference number and password provided in your referral letter or email.</p></div>
				</div>
				<div class="form-group" style="padding-top: 2em !important;">
					<div>
						<p>You do not need to do anything else.</p>
						<p>You may find it useful to <a href="#" onclick="window.print();return false;">print a copy of your appointment request details</a> or take a note of them.</p>
						<p>You can <a href="/asi2/viewreferral">change or cancel your appointment here</a>.</p>
						<p>You can return here at any point up to your appointment date by logging in to <strong>nhs.uk/referrals</strong>.</p>
					</div>
				</div>
			</div>
			<div class="column-third">
			</div>
		</div>

	</main>
{% endblock %}