{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>


	body {
		background-color: #f0f4f5
	}

</style>
<div role="banner" id="global-header" style="background-color:#004D86;">
	<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
		&nbsp;
		<div style="float:right;" style="color:#ffffff;"><a href="/email-login-3/all-referrals" style="color:#ffffff;">View
				all referrals (3)</a> | <a href="/email-login-3/login" style="color:#ffffff;">Log out</a></div>
	</div>
</div>
<main id="content" role="main" style="padding-top:3rem;">
	<h1 class="heading-large">
		Referral for Sam Taylor
	</h1>
	<p>You need to choose an appointment for this referral.</p>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div style="background:#dee0e2;padding:1rem;">
				<h3 class="heading-medium">Your referral details</h3>
				<div style="background:#ffffff;padding:1rem;">
					<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
						Booking reference number<br />
						<strong>0002 2400 7090</strong></p>
				</div>
				<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
					<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by<br />
						<strong>Dr Zubeir Smith at New Street Medical Practice</strong></p>
				</div>
				<p style="margin-bottom: 0px !important;"><a href="/email-login-3/clinic" class="button" style="margin-top: 1em !important;margin-right:2rem;margin-bottom:2rem;">Choose
						an appointment</a>
					<!--<a href="/pabs/allreferrals" style="padding-top: 2em !important;">View and manage all referrals </a>-->
				</p>
				<p style="padding-top: 1rem !important;"><a href="/email-login-3/cancel-referral" style="margin-top: 2em !important;">Cancel
						referral</a>
				</p>
				<div class="form-group" style="padding-top: 2em !important;">
				</div>
			</div>
		</div>
		<div class="column-third">
			<div style="border-top:10px solid #003087;padding-left:1rem;margin-bottom:2rem;margin-top:0rem;">
				<p class="heading-medium" style="padding-top: 2rem !important;">You have 3 referrals</p>

				<p><a href="/email-login-3/all-referrals">View all your referrals</a></p>
			</div>
		</div>
	</div>
</main>
{% endblock %}