{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>


	body {
		background-color: #f0f4f5
	}

</style>
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<!-- DARK BLUE HEADER STRIP -->
		<!-- 
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
		</div> 
		-->
	</div>
	<main id="content" role="main">
	<h1 class="heading-large" style="color: #0072C6;padding-bottom: 1rem;">Log in</h1>
		<div class="grid-row">
			<div class="column-two-thirds" >
				<div style="border-left:10px solid #dee0e2;padding-left:2rem;margin-bottom:0rem;margin-top:1rem;">
					<h2 class="heading-medium" style="padding-top:0rem; margin-bottom: 0rem;"><img src="/public/images/icon-important.png" style="vertical-align: middle;"/> Check your email.</h2>
					<p>We sent your login access code to t*********l.com</p>
					</div>	
					
				<label class="heading-medium" for="first-label" style="padding-top:1rem;padding-bottom:0rem;"><strong>Enter your login access code</strong></label>
				<p style="padding-top:0px;">For example, '756 822'. <br></p>
				<input type="text" id="Password" class="form-control" style="width:60%;">

				<div style="padding-top:3rem;padding-bottom:0rem;" class="heading-medium" >Your date of birth</div>
				<p style="padding-top:3px;margin-bottom: 0rem;">For example, '31 3 1980'.</p>
				<div class="form-item-wrapper" style="padding-top:0rem;padding-bottom:0rem;margin-top: 0rem;">
					<fieldset>
						<div class="inline-form-groups">
							<div class="form-group">
								<label class="form-label" for="{{ i.id_prefix }}day">Day</label>
								<input class="form-control form-control-2-chars" id="{{ i.id_prefix }}day" type="number" min="0" max="31">
							</div>
							<div class="form-group">
								<label class="form-label" for="{{ i.id_prefix }}month">Month</label>
								<input class="form-control form-control-2-chars" id="{{ i.id_prefix }}month" type="number" min="0" max="12">
								</div>
							<div class="form-group">
								<label class="form-label" for="{{ i.id_prefix }}year">Year</label>
								<input class="form-control form-control-4-chars" id="{{ i.id_prefix }}year" type="number" min="0">
							</div>
						</div>
					</fieldset>
				</div>

				<a href="/email-login-3/booked-appointment" class="button" style="margin-top: 2em !important;">Log in</a>


				<p style="padding-top: 2rem;"><a href="/email-login-3/confirm-id-lost">I can't find my login access code.</a></p>
				<details>
				<summary style="padding-top: 2em"><span class="summary">Need help logging in?  </span></summary>
				<div class="panel panel-border-narrow">
						<p>Login access codes are sent by email once you confirm your identity. Check for emails from NHSreferrals@nhs.net.</p>
						<p><a href="http://www.nhs.uk/service-search">Find your referring organisation’s details on NHS Choices.</a></p>
						<p>If you need assistance in choosing, booking, changing or cancelling your appointment, please call the e-Referral Service Appointments Line.</p>
						<p><strong>Phone:</strong> 0345 60 88 88 8<br />
						<strong>Textphone:</strong> 0345 8 50 22 50</p>
						<p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
				</div>
				</details>
			</div>
			<div class="column-third">
			</div>
		</div>
	</main>
{% endblock %}