{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>
	body {
		background-color: #f0f4f5
	}
</style>
<div role="banner" id="global-header" style="background-color:#004D86;">
</div>
<main id="content" role="main">
	<h1 class="heading-large" style="padding-bottom: 1rem;">Enter your login access code</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<p style="padding-top:0px;">For example, '756 822'. <br></p>
			<input type="text" id="Password" class="form-control" style="width:60%;">

			
			<a href="/email-login-3/date-of-birth" class="button" style="margin-top: 2em !important;">Continue</a>

			<p style="padding-top: 2rem;"><a href="/email-login-3/confirm-id-lost">I can't find my login access code.</a></p>
			<details>
				<summary style="padding-top: 2em"><span class="summary">Need help logging in? </span></summary>
				<div class="panel panel-border-narrow">
					<p>Login access codes are sent by email once you confirm your identity. Check for emails from
						NHSreferrals@nhs.net.</p>
					<p><a href="http://www.nhs.uk/service-search">Find your referring organisation’s details on NHS Choices.</a></p>
					<p>If you need assistance in choosing, booking, changing or cancelling your appointment, please call the
						e-Referral Service Appointments Line.</p>
					<p><strong>Phone:</strong> 0345 60 88 88 8<br />
						<strong>Textphone:</strong> 0345 8 50 22 50</p>
					<p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on
						Christmas Day).</p>
				</div>
			</details>
		</div>
		<div class="column-third">
		</div>
	</div>
</main>
{% endblock %}