{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<!-- DARK BLUE HEADER STRIP -->
		<!-- 
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
		</div> 
		-->
	</div>
	<main id="content" role="main">
		<h1 class="heading-large" style="color: #0072C6;padding-bottom: 2rem;">
		Enter your booking reference number
		</h1>
		<div class="grid-row">
			<div class="column-two-thirds" >
					<div>
						<label class="heading-medium" for="first-label" style="padding-top:0;padding-bottom:0rem;"><strong>Booking reference number</strong></label>
						<p style="padding-top:0px;">For example, '0002 8652 2495'. <br> This can be found on your referral letter or in your referral email.</p>
						<input type="text" id="first-label" class="form-control" style="width:60%;">

					</div>
					<a href="/email-login-3/login-access-code" class="button" style="margin-top: 2em !important;">Continue</a>
					<div class="form-group" style="padding-top: 2em !important;">
					</div>

				<details>
				<summary><span class="summary">Need help logging in?  </span></summary>
				<div class="panel panel-border-narrow">
					<p>If you do not have your booking reference number please contact your referring organisation. This is normally your GP.</p>
					<p><a href="http://www.nhs.uk/service-search">Find your referring organisation’s details on NHS Choices.</a></p>
					<p>If you do have your booking reference number, but need assistance in choosing, booking, changing or cancelling your appointment, please call the e-Referral Service Appointments Line.</p>
					<p><strong>Phone:</strong> 0345 60 88 88 8<br />
					<strong>Textphone:</strong> 0345 8 50 22 50</p>
					<p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
				</div>
				</details>
						</div>
						<div class="column-third">
						</div>
					</div>
				</main>
			{% endblock %}