{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>
	body {background-color: #f0f4f5}
</style>
	<div role="banner" id="global-header" style="background-color:#004D86;">
			<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
					&nbsp;
					<div style="float:right;" style="color:#ffffff;"><a href="/email-login-3/all-referrals" style="color:#ffffff;">View all referrals (3)</a> | <a href="/email-login-3/login" style="color:#ffffff;">Log out</a></div>
				</div>
	</div>
	<main id="content" role="main" style="padding-top:3rem;">

		<!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->
		<div class="grid-row">
			<div class="column-two-thirds" >
				<h1 class="heading-large" style="color: #0072C6;">
				Referral for Mike Smith
				</h1>
				<div style="background:#dee0e2;padding:1rem;margin-top:1rem;">
					<h3 class="heading-medium">Your appointment details</h3>
					<div style="background:#ffffff;padding:1.4rem;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
							Booking reference number<br />
						<strong>0002 7480 8900</strong></p>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<table style="margin-bottom: 0px !important;">
							<tr>
								<td style="padding: 0px !important;"><p style="margin-bottom: 0px !important;padding-top:0px;">Date and time <br />
								<strong>Wednesday 5 December 2018, 2:30pm</strong></p>
							</td>
							<td style="padding: 0px !important;text-align:right;">
								<p style="margin: 0px !important;padding-top:0px;"><a href="#">Change</a></p></td>
							</tr>
						</table>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<table style="margin-bottom: 0px !important;">
							<tr>
								<td style="padding: 0px !important;"><p style="margin-bottom: 0px !important;padding-top:0px;">Clinic <br />
								<strong>Diabetic Medicine - St James's Hospital - Leeds TH - RR8</strong></p>
							</td>
							<td style="padding: 0px !important;text-align:right;">
								<p style="margin: 0px !important;padding-top:0px;"><a href="#">Change</a></p></td>
							</tr>
						</table>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Location<br />
						<strong>BECKETT STREET
								LEEDS
								WEST YORKSHIRE
								England
								LS9 7TF</strong></p>
					</div>
					

					<p><a href="/email-login-3/cancel-appointment" class="button button-secondary-cta" style="margin-top: 1em !important;">Cancel appointment</a></p>
				<div class="form-group" style="padding-top: 2em !important;">
				</div>
				
			</div><a href="/email-login-3/hello">Back</a>
		</div>
	</div>
</div>
</main>
{% endblock %}