<html>
    <head>
        <link href="/public/stylesheets/header-v2.css" media="screen" rel="stylesheet" type="text/css" />
        <title>e-Referral Service</title>
    </head>
    <body>
        <header>
            <div class="nhsers-c-header-logo">
                <div class="nhsers-c-header-logo-inner">
                    <a href="/prototypes"><img src="/public/images/nhs-rev-logotype.svg"></a>
                    <p>e-Referral Service</p>
                </div>
            </div>
            <div class="nhsers-c-header-links">
                <div class="nhsers-c-header-links-inner">
                    <div class="nhsers-c-header-links-profile loggedout">
                        <span></span>COLBECK, Alex (Mr)
                        <a href="">Help</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </header>

        <h1>Role Selection</h1>

        <a href="/header-v2/002-patient-search"><img src="/public/images/role_selection.png" class="screenshot"/></a>

    </body>

</html>