{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<style>


	body {
		background-color: #f0f4f5
	}

	.referral {
		border-left: #007f3b;
		border-left-style: solid;
		border-left-width: 4px;
		padding: 20px;
		margin-bottom: 2rem;
		background-color: #ffffff;
		width: 100%;
		overflow: hidden;
	}
	.referral-detail {
	width:60%;
	margin: 0px 0px;
	padding-bottom: 1rem;
	padding-right: 1rem;
	box-sizing: border-box;
	float:left;
	/*  word-wrap: break-word; */
	}
	.referral-action {
	width:40%;
	float:right; 
	text-align: right;
	}

	.referral-action .button {
	width: 230px;
	}
	@media only screen and (max-width: 960px)
	{
		.referral-detail, .referral-action
		{
			display: block; 
			float: none; 
			width: 100%;
			text-align: left;
		}
			.referral {
		width: 90%;
		}
		
	}	



	</style>
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
			<div style="float:right;"><a href="/email-login-4/login" style="color:#ffffff;">Log out</a></div>
		</div>
	</div>
	<main id="content" role="main" style="padding-top:3rem;">
		
		<h1 class="heading-large" style="color: #0072C6;">
		3 referrals for Sam Taylor
		</h1>
		<div class="grid-row">
			<div class="column-three-quarters" >
				
				<h2 class="heading-medium">1 appointment to book</h2>

					<div class="referral">
						<div class="referral-detail">
								<p style="padding-top: 0px ; margin-bottom: 0px;"> <strong>Booking reference number 0002 7480 8900</strong><br>
									Referred to <strong>Rheumatology</strong> by Dr Zubeir Smith at New Street Medical Practice on 13 August 2018</p>
						</div>	
						<div class="referral-action">
								<a href="/email-login-4/clinic" class="button-rounded" style="text-align: center;">Choose an appointment</a>
						</div>
					</div>


				<h2 class="heading-medium" style="margin-top: 2rem;">1 appointment</h2>

				<div class="referral" style="border-color: #696969">
					<div style="display: table;width:100%">
						<div style="display: table-cell;vertical-align: top;width:70%;">
							<p style="padding-top: 0px !important; margin-bottom: 0px !important;"><strong>Wednesday 5 December 2018, 2:30pm</strong>
							<br>Diabetic Medicine - St James's Hospital - Leeds TH - RR8<br></p>
						</div>	
						<div style="display: table-cell;text-align: right;width:30%;">
								<a href="/email-login-4/booked-appointment">View details</a>
						</div>
					</div>
				</div>

				<h2 class="heading-medium" style="margin-top: 2rem;">1 referral is being reviewed</h2>

				<div class="referral" style="border-color: #696969">
					<div style="display: table;width:100%">
						<div style="display: table-cell;vertical-align: top;width:70%;">
							<p style="padding-top: 0px !important; margin-bottom: 0px !important;"><strong>General Cardiology MMH-Cardiology-Doncaster & Bassetlaw NHS FT-RP5MM</strong> will review your referral to <strong>Cardiology</strong> by 5 November 2018<br>
							<!-- Booking reference number 7843 8844 3340 --></p>
						</div>	
						<div style="display: table-cell;text-align: right;width:30%;">
								<a href="/email-login-4/asi-landing">View details</a>
						</div>
					</div>
				</div>
				
			</div>

			

			<div class="column-quarter">
			</div>
		</div>
</main>
{% endblock %}