{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}


<style>
	body {
		background-color: #f0f4f5
	}

	.referral {
		border-left: #009933;
		border-left-style: solid;
		border-left-width: 4px;
		padding: 20px;
		margin-bottom: 2rem;
		background-color: #ffffff;

	}

	.nhsuk-c-panel {
		background: #fff;
		margin: 52px 0 56px;
		padding: 24px;
		padding-top: 0;
		position: relative
	}

	@media (max-width: 40.0525em) {
		.nhsuk-c-panel {
			margin: 40px 0
		}
	}

	.nhsuk-c-panel h3 {
		background: #005eb8;
		color: #fff;
		display: inline-block;
		margin: 0 -24px 8px;
		padding: 8px 24px;
		position: relative;
		top: -16px
	}

	@media (max-width: 40.0525em) {
		.nhsuk-c-panel h3 {
			top: -18px;

		}
	}

	.nhsuk-c-panel h3+p {
		margin-top: 0
	}

	.nhsuk-c-panel__warning {
		background: #ffffff;
		border-left: #da291c;
		border-left-style: solid;
		border-left-width: 4px;
		color: #212b32
	}

	.nhsuk-c-panel__warning h3 {
		background: #da291c;
		color: #fff;
		left: -4px;
	}

	.nhsuk-c-panel>:first-child {
		margin-top: 0
	}

	.nhsuk-c-panel>:last-child {
		margin-bottom: 0
	}
</style>


<div role="banner" id="global-header" style="background-color:#004D86;">
	<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
		<a href="/email-login-4/appointment" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg" style="width:8px;" />
			Back to appointments</a>
		<div style="float:right;"><a href="/email-login-4/login" style="color:#ffffff;">Log out</a></div>
	</div>
</div>
<main id="content" role="main" style="padding-top:3rem;">
	<h1 class="heading-large">
		Check details and book appointment
	</h1>
	<div class="grid-row">
		<div class="column-two-thirds">

			<div style="background:#ffffff;padding:2em 2rem 2rem 2rem;margin-top:0px;">

				<p style="padding-top: 0px;margin-bottom: 0;">Date and time</p>
				<div style="padding-top:0px;padding-bottom:2rem;"><span class="heading-medium" style="padding-top: 0;margin-bottom:0;">Monday 18th November 2018, 1:30pm</span>
				<a href="/email-login-4/appointment">Change</a></div>


				<p style="padding-top: 0px;margin-bottom: 0;">Clinic</p>
				<div style="padding-top:0px;padding-bottom:2rem;"><span class="heading-medium" style="padding-top: 0;margin-bottom:0;">Rheumatology - Chapel Allerton Hospital - Leeds TH - RR8</span>
				<a href="/email-login-4/clinic">Change</a></div>


				<p style="padding-top: 0px;margin-bottom: 0;">Location</p>
				<div style="padding-top:0px;padding-bottom:2rem;" class="heading-small">CHAPELTOWN ROAD	LEEDS WEST YORKSHIRE England LS7 4SA</div>

				<p style="padding-top: 0px;margin-bottom: 0;">Referred by</p>
				<div style="padding-top:0px;padding-bottom:2rem;" class="heading-small">Dr Zubeir Smith at New Street Medical Practice</div>
				
				<p style="padding-top: 0px;margin-bottom: 0;">Booking reference number</p>
				<div style="padding-top:0px;padding-bottom:2rem;" class="heading-small">0002 7480 8900</div>
				
				<p style="margin-bottom: 0px !important;"><a href="/email-login-4/complete" class="button-rounded" style="margin-top: 1em !important;margin-right:2rem;margin-bottom:2rem;">Book
					appointment</a>

				
			</div>
	
			</p>
			<div class="form-group" style="padding-top: 2em !important;">
			</div>

		</div>
		<div class="column-third">
		</div>
	</div>
</main>
{% endblock %}