{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>
	body {
		background-color: #f0f4f5
	}
</style>
<div role="banner" id="global-header" style="background-color:#004D86;">
	<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">

		<a href="/email-login-4/book-now-appointment" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg"
			 style="width:8px;" /> Back to start</a>
		<div style="float:right;"><a href="/email-login-4/login" style="color:#ffffff;">Log out</a></div>
	</div>
</div>
<main id="content" role="main" style="padding-top:3rem;">
	<h1 class="heading-large">Select a clinic</h1>
	<div class="grid-row">
		<div class="column-two-thirds">

			<!--CLINIC 1-->
			<div style="padding:2rem;border-bottom:4px solid #d8dde0;background-color:#fff; ">
				<p><strong>Rheumatology - Chapel Allerton Hospital - Leeds TH - RR8</strong><br />
					CHAPELTOWN ROAD	LEEDS WEST YORKSHIRE England LS7 4SA</p>
				<table style="padding:0rem;">
					<tr>
						<td style="width:70%;">
							<p>First appointment approximately</p>
						</td>
						<td style="width:30%;">
							<p><strong>108 Days</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:70%;">
							<p>Distance from LS1 6AE</p>
						</td>
						<td style="width:30%;">
							<p><strong>1 Mile</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:70%;padding-right: 2rem;">
							<p>9 out of 10 patients start treatment in approximately</p>
						</td>
						<td style="width:30%;">
							<p><strong>14 Weeks</strong></p>
						</td>
					</tr>
				</table>

				<p><a href="/email-login-4/appointment" class="button-rounded" style="margin-top: 1em !important;">Select this clinic</a></p>
			</div>

			<!--CLINIC 2-->
			<div style="padding:2rem;border-bottom:4px solid #d8dde0;margin-top:3rem; background-color:#fff; ">
				<p><strong>Rheumatology /Urgent Management Restricted Service-Bradford T Hospitals NHFS Trust-RAE</strong><br />
					LITTLE HORTON LANE BRADFORD WEST YORKSHIRE England BD5 0NA</p>
				<table style="padding:0rem;">
					<tr>
						<td style="width:70%;">
							<p>First appointment approximately</p>
						</td>
						<td style="width:30%;">
							<p><strong>Limited availability</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:70%;">
							<p>Distance from LS1 6AE</p>
						</td>
						<td style="width:30%;">
							<p><strong>8 Miles</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:70%;padding-right: 2rem;">
							<p>9 out of 10 patients start treatment in approximately</p>
						</td>
						<td style="width:30%;">
							<p><strong>16 Weeks</strong></p>
						</td>
					</tr>
				</table>
				<p><a href="/email-login-4/appointment" class="button-rounded" style="margin-top: 1em !important;">Select this clinic</a></p>
			</div>

			<!--CLINIC 3-->
			<div style="padding:2rem;border-bottom:4px solid #d8dde0;margin-top:3rem;background-color:#fff; ">
				<p><strong>Rheumatology GCA Triage</strong><br />
					LIGHTWOOD HOUSE LANE SHEFFIELD SOUTH YORKSHIRE England S8 8BG</p>
				<table style="padding:0rem;">
					<tr>
						<td style="width:70%;">
							<p>First appointment approximately</p>
						</td>
						<td style="width:30%;">
							<p><strong>9 Days</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:70%;">
							<p>Distance from LS1 6AE</p>
						</td>
						<td style="width:30%;">
							<p><strong>32 Miles</strong></p>
						</td>
					</tr>
					<tr>
						<td style="width:70%;padding-right: 2rem;">
							<p>9 out of 10 patients start treatment in approximately</p>
						</td>
						<td style="width:30%;">
							<p><strong>16 Weeks</strong></p>
						</td>
					</tr>
				</table>
				<p><a href="/email-login-4/no-appointment" class="button-rounded" style="margin-top: 1em !important;">Select this clinic</a>
				</p>
			</div>
		</div>
		<div class="column-third">
		</div>
	</div>

</main>
{% endblock %}