{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
<style>
	body {
		background-color: #f0f4f5
	}
</style>
<div role="banner" id="global-header" style="background-color:#004D86;">
	<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
		&nbsp;
		<div style="float:right;" style="color:#ffffff;"><a href="/email-login-4/all-referrals-end" style="color:#ffffff;">View
				all referrals (3)</a> | <a href="/email-login-4/login" style="color:#ffffff;">Log out</a></div>
	</div>
</div>
<main id="content" role="main" style="padding-top:3rem;">
	<div class="grid-row">
		<div class="column-two-thirds">
			<div style="background-color:#28A197;color:#ffffff;padding:2rem;text-align:center;margin-bottom:4rem;" id="confirm">
				<h1 class="heading-large" style="margin-bottom: 0px;color:#ffffff;">
					&#10004; Booking complete
				</h1>
				<h3 class="heading-medium">Please keep this information for your records</h3>
			</div>
			<div class="nhsuk-c-panel">
				<h3 class="heading-medium">Your appointment details</h3>

				<p style="padding-top: 0px; margin-bottom: 0px;"> Date and time</p>
				<div class="heading-medium" style="padding-top: 0px;margin-bottom: 0;">Monday 18th November 2018, 1:30pm</div>

				<p style="padding-top: 0pxt; margin-bottom: 0px ;"> Clinic</p>
				<div class="heading-medium" style="padding-top: 0px;margin-bottom: 0;">Rheumatology - Chapel Allerton Hospital -
					Leeds TH - RR8</div>

				<p style="padding-top: 0px;margin-bottom: 0;">Location</p>
				<div style="padding-top:0px;padding-bottom:2rem;" class="heading-small">CHAPELTOWN ROAD LEEDS WEST YORKSHIRE
					England LS7 4SA</div>

				<p style="padding-top: 0px;margin-bottom: 0;">Referred by</p>
				<div style="padding-top:0px;padding-bottom:2rem;" class="heading-small">Dr Zubeir Smith at New Street Medical
					Practice</div>

				<p style="padding-top: 0px;margin-bottom: 0;">Booking reference number</p>
				<div style="padding-top:0px;padding-bottom:2rem;" class="heading-small">0002 7480 8900</div>

		



			</div>


			<h3 class="heading-medium">What happens next?</h3>
			<p>You do not need to do anything else.</p>
			<p> We’ve sent your request to the provider. The provider will contact you if there are any issues with this
				booking. You may find it useful to <a href="#" onclick="window.print();return false;">print a copy of your
					appointment details</a> or take a note of them.</p>
			<div style="display:block; padding:0 0 0 3em; background-image: url(../public/images/icon-calendar.png); background-repeat: no-repeat; background-position: left; background-size: 2em;">
				<p class="heading-small"><a href="">Add this appointment to your calendar (ICS, 10KB)</a></p>
			</div>
			<p>You can <a href="#">change or cancel your appointment here</a>.</p>
			<p style="padding-bottom: 2rem;">You can return here at any point up to your appointment date by logging in to
				<strong>nhs.uk/referrals</strong>.</p>



		</div>
		<div class="column-third">
			<div style="border-top:4px solid #003087;padding-left:1rem;margin-bottom:2rem;margin-top:0rem;">
				<p class="heading-medium" style="padding-top: 2rem;">You have 3 referrals</p>
				<p><a href="/email-login-4/all-referrals-end">View all your referrals</a></p>
			</div>
		</div>
	</div>
</main>
{% endblock %}