{% extends 'templates/nhs_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">

			<a href="/pabs/clinic" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg" style="width:8px;" />  Back to clinics</a>
			<div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
		</div>

	</div>
	<main id="content" role="main" style="padding-top:3rem;">

		<div class="grid-row">


			<div class="column-two-thirds" >

				<h1 class="heading-xlarge" style="color: #0072C6;">
				No appointments available
				</h1>
				<p>General Respiratory Medicine-Respiratory Medicine-CityTH (Name Hosp)-CODE</p>

				<div style="border-left:10px solid #dee0e2;padding-left:2rem;margin-bottom:4rem;">


					<h3 class="heading-medium"><img src="/public/images/icon-important.png" /> There are no appointments available</h3>


					<p>Please try a different clinic</p>

					<p><a href="/pabs/no-appointment" class="button" style="margin-top: 1em !important;">Select a different clinic</a>
				</p>
			</div>



		</div>


		<div class="column-third" style="padding-left: 3rem !important;">
			<!--<div style="border-top:solid 1rem #004D86;margin-bottom:4rem;margin-top:2rem;">
				<!--<h3 class="heading-medium" style="line-height: 30px;">Details of the appointment you have selected to cancel</h3>  -->

				<!--<div style="background:#ffffff;padding:1.4rem;">
					<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
						Booking reference number<br />
					<strong>0002 7480 8900</strong></p>
				</div>-->
				<!-- <p style="">
					Clinic name<br />
				<strong>General Respiratory Medicine-Respiratory Medicine-CityTH (NAME Hosp)-CODE</strong></p>

				<p style=""> Date and time<br />
				<strong>Monday 2nd May 2016, 2:00pm</strong></p>    -->



				<!--<p><a href="/pabs/cancel-appointment" class="button button-secondary-cta" style="margin-top: 1em !important;">Cancel appointment</a>
			</p>-->


		</div>
	</div>

</div>


</main>
{% endblock %}