{% extends 'templates/nhs_transaction_layout.html' %} {% block pageTitle %}eRS prototypes{% endblock %} {% import 'includes/ui_element_macros.html'
as ui_element_macros %} {% block content %} {{ ui_element_macros.breadcrumbs({ items: { 1: { text: "Prototypes", href: "/prototypes"
}, 2: { text: "Referral screens", } } })}}

<main id="content" class="block-container" role="main" tabindex="-1">
    <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Referral screens</h1>
        <h2 class="heading-medium"><a href="https://marvelapp.com/3726ci9">Versions 1 and 2</a></h2>
        <p>Marvel mockups, initial draft ideas. Version 2 was taken to user testing on 30th May 2018. </p>
        <ul>
        <li><a href="https://marvelapp.com/3726ci9/screen/43246853">View version 1</a></li>
        <li><a href="https://marvelapp.com/3726ci9/screen/43539894">View version 2</a></li>
        </ul>

        <h2 class="heading-medium"><a href="/referral-screen/version03">Version 3</a></h2>
        <p>All content on one page with sticky side navigation links jumping to relevant place in the content.</p>
    </div>
    </div>
</main>

{% endblock %}