{% extends 'templates/nhs_transaction_layout.html' %} {% block pageTitle %}eRS prototypes{% endblock %} {% import 'includes/ui_element_macros.html'
as ui_element_macros %} {% block content %} {{ ui_element_macros.breadcrumbs({ items: { 1: { text: "Prototypes", href: "/prototypes"
}, 2: { text: "Referral screens", } } })}}

<main id="content" class="block-container" role="main" tabindex="-1">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Referral screens</h1>
            <ul>
                <li>
                    <a href="https://marvelapp.com/3726ci9/screen/43246853">Version 1</a> <span class="font-xsmall">Initial design used for internal conversations</span></li>
                <li>
                    <a href="https://marvelapp.com/3726ci9/screen/43539894">Version 2</a> <span class="font-xsmall">Content and title changes, then used in user testing on 30th May</span></li>
                <li>
                    <a href="/referral-screen/version03">Version 3</a> <span class="font-xsmall">All content on one page with sticky side navigation links jumping to relevant place in
                    the content</span></li>
            </ul>

            <h2 class="heading-medium">
        </div>
    </div>
</main>

{% endblock %}