{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

<main id="content" role="main">
    
    
  <h1 class="heading-xlarge">Choose Role</h1>
    
<div class="form-item-wrapper">
        <fieldset>
          <legend class="form-label-bold">Overall group title</legend>
          <div class="form-group">
            <label class="form-label" for="first-label">
              First label
            </label>
            <input type="text" id="first-label" class="form-control">
          </div>

        </fieldset>
      </div>
    
        
    
    <p class="expand-bottom">
    <a href="/erm/servicesearch" class="button button-secondary-cta">Homepage*</a>
  </p>
    
    
</main>

{% endblock %}



