{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;

                  <div style="float:right;color:#ffffff;font-size:12px;"><strong>Patient:</strong> CAESAR, Julius (Mr)  <strong>Gender:</strong> Male  <strong>Date of Birth:</strong> 03/03/1943  <strong>Age:</strong> 74 years  <strong>NHS:</strong> 100 000 0008</div>
        </div>

        
    </div>
    {% include "includes/prototype-warning.html" %}

<main id="content" role="main">
    
    
  <h1 class="heading-xlarge">Check appointment request details</h1>
      
    
      <div class="grid-row">
    <div class="column-half">
        <table>
                      <tr>
                        <td>UBRN</td>
                        <td><strong>100 000 0008</strong></td>
                      </tr>
                      <tr>
                        <td>Speciality</td>
                        <td><strong>Ear, Nose &amp; Throat</strong></td>
                      </tr>
                      <tr>
                        <td>Clinic type</td>
                        <td><strong>Ear</strong></td>
                      </tr>
                      <tr>
                        <td>Clinic term</td>
                        <td><strong>-</strong></td>
                      </tr>
                      <tr>
                        <td>Priority</td>
                        <td><strong>Routine</strong></td>
                      </tr>

                </table>
    </div>
          
    <div class="column-half">
          

                

          <input type="checkbox" id="locally" name="locally" checked>
          <label class="form-control-checkbox minor" for="locally" style="margin-top: 0rem">
            Referral letter outstanding, will add at a later time
          </label>


                <input type="checkbox" id="nationally" name="nationally" checked>
          <label class="form-control-checkbox minor" for="nationally" style="width:100%;">
            Defer booking to appointments line
          </label>


        <br />
        <div style="padding-top:2rem;">       
            
 <table>
                      <tr>
                        <td><p>Appointments line follow up after</p></td>
                        <td style="padding-left:2rem;"><select class="form-control" id="select-box" style="width:200px;">
            <option style="font-size: 1.5rem;">14 days</option>
            <option>2 days</option>
            <option>5 days</option>
            <option>10 days</option>
            <option>15 days</option>
            <option>25 days</option>
            <option>50 days</option>
            <option>75 days</option>
            <option>100 days</option>
            <option>150 days</option>
            <option>200 days</option>
            <option>500 days</option>
        </select></td>
                      </tr>
            </table>
            
            
            </div>
        
        
    </div>

  </div>
    
    <div>
    
    <p>Service(s)</p>
        <div>        
                    <table class="service" style="padding:0rem;" >
                      <tr>
                        <th>Location</th>
                        <th>Referrer alert</th>
                        <th>Service name</th>
                        <th>Organsiation type</th>
                        <th>Indicative wait time</th>

                      </tr>
                      <tr>
                        <td>NHS Trust site 01</td>
                        <td> </td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>NHS Trust</td>
                        <td>3 Days</td>

                      </tr>
                      <tr>
                        <td>NHS Trust site 01</td>
                        <td><strong>i</strong></td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>NHS Trust</td>
                        <td>Limited availability</td>

                      </tr>
                      <tr>
                        <td>NHS Trust site 01</td>
                        <td> </td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>NHS Trust</td>
                        <td>Limited availability</td>

                      </tr>
                </table>
    </div>        
              <div style="margin-top:2rem;float:right;">
          
            	      
                        
                            <a href="/erm/searchresults" style="padding-left:10px;">Cancel</a>
                          	<a href="/erm/later-confirmation"><input type="submit" class="button" value="Confirm and submit appointment request" style="margin-left:1rem;"></a>    
          
          
          </div>



        </div>

    

    
    
    
    
    
    
    


    
    
</main>

{% endblock %}



