{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
    <a href="/">&#9664; All e-RS prototypes</a>
  <h1 class="heading-xlarge">ERM Prototypes</h1>

  <!--<h2 class="heading-large">Enhanced Referral Management (ERM)<br /> Prototypes</h2>-->
    <p><strong>For best results:</strong> please view this site using Google Chrome.</p>

  <ul>
    <li><a href="/erm/servicesearch">Option 1</a></li>
    <li><a href="/erm/servicesearch2">Option 2</a></li>

  </ul>




</main>

{% endblock %}
