{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

<main id="content" role="main">
    
    
  <h1 class="heading-xlarge">Service Search </h1>
    
<div class="form-item-wrapper">
<table style="width:100%">
  <tr>
      <th bgcolor="#0072C6">Tickbox</th>
    <th bgcolor="#0072C6">Firstname</th>
    <th bgcolor="#0072C6">Lastname</th> 
    <th bgcolor="#0072C6">Age</th>
  </tr>
      <tr>
    <td><div class="form-group"><input type="checkbox" id="show-password" /><label class="form-control-checkbox minor"> </label></div></td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  
    <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
      </div>
    
        
    
    <p class="expand-bottom" >
    <a href="/" class="button button-secondary-cta" style="margin-right: 20px !important;">Button 1</a><a href="/" class="button button-secondary-cta">Button2</a>
  </p>
    
    
</main>

{% endblock %}



