{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;

                  <div style="float:right;color:#ffffff;font-size:12px;"><strong>Patient:</strong> CAESAR, Julius (Mr)  <strong>Gender:</strong> Male  <strong>Date of Birth:</strong> 03/03/1943  <strong>Age:</strong> 74 years  <strong>NHS:</strong> 100 000 0008</div>
        </div>

        
    </div>
    {% include "includes/prototype-warning.html" %}

<main id="content" role="main">
    
    
  
    
      <div>

        
    <p> <label class="form-label" for="first-label"></label>
            <input type="text" id="first-label" placeholder="Enter your search term..." class="form-control" style="width:300px;float: left;">    

        <select class="form-control" id="select-box" style="width:200px;float: left;margin-left:20px;">
            <option style="font-size: 1.5rem;">Routine</option>
            <option>Urgent</option>
            <option>2 week wait</option>
        </select>
    	      <input type="submit" class="button" value="Search services" style="margin-left:20px;"> &nbsp;&nbsp;<a href="#popup1" style="padding-left:10px;">Advanced search</a>
    </p>
        
        
        



                
        


  </div>
    
    <div>
    
      <div class="grid-row" style="margin-left: 0px !important; margin-right: 0px !important;">
  <h1 class="heading-xlarge">Search results</h1>
          
          <p>These are the nearest services at which patients are likely to receive treatment within 18 weeks:</p>
    
                <table class="good" style="padding:0rem;" >
                      <tr>
                        <th>Select</th>
                        <th>Miles</th>
                        <th>Appointment type</th>
                        <th>Service name</th>
                        <th>Indicative appointment wait</th>
                        <th>Indicative treatment wait</th>
                        <th>Directly bookable</th>
                        <th>Referrer Alert</th>
                        <th>Speciality</th>
                        <th style="text-align:center;">Link to NHS choices</th>
                        <th>Location</th>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="1" name="1" ><label class="form-control-checkbox minor" for="1" style="padding:0;"></td>
                        <td>10</td>
                        <td>Triage </td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>35 Days</td>
                        <td>10 weeks</td>
                        <td>Yes</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="2" name="2" ><label class="form-control-checkbox minor" for="2" style="padding:0;"></td>
                        <td>19</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>49 Days</td>
                        <td>13 weeks</td>
                        <td>No</td>
                        <td>&#9899;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="3" name="3" ><label class="form-control-checkbox minor" for="3" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>56 Days</td>
                        <td>24 weeks</td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                </table>
          
          
<p style="padding-top:4rem;">Below are other services that meet your criteria. </p>
    
                <table class="service" style="padding:0rem;" >
                      <tr>
                        <th>Select</th>
                        <th>Miles</th>
                        <th>Appointment type</th>
                        <th>Service name</th>
                        <th>Indicative appointment wait</th>
                        <th>Indicative treatment wait</th>
                        <th>Directly bookable</th>
                        <th>Referrer Alert</th>
                        <th>Speciality</th>
                        <th style="text-align:center;">Link to NHS choices</th>
                        <th>Location</th>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="4" name="4" ><label class="form-control-checkbox minor" for="4" style="padding:0;"></td>
                        <td>10</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>35 Days</td>
                        <td>10 weeks</td>
                        <td>Yes</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="5" name="5" ><label class="form-control-checkbox minor" for="5" style="padding:0;"></td>
                        <td>19</td>
                        <td>Triage</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>49 Days</td>
                        <td>13 weeks</td>
                        <td>No</td>
                        <td>&#9899;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="6" name="6" ><label class="form-control-checkbox minor" for="6" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>56 Days</td>
                        <td>24 weeks</td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="7" name="7" ><label class="form-control-checkbox minor" for="7" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>Limited Availabilty</td>
                        <td>24 weeks</td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="8" name="8" ><label class="form-control-checkbox minor" for="8" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>56 Days</td>
                        <td>24 weeks</td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="9" name="9" ><label class="form-control-checkbox minor" for="9" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>56 Days</td>
                        <td><strong><span style="background-color:red;color:#fff;">Limited<br /> Capacity</span></strong></td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="10" name="10" ><label class="form-control-checkbox minor" for="10" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>Limited Availabilty</td>
                        <td>24 weeks</td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="11" name="11" ><label class="form-control-checkbox minor" for="11" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>56 Days</td>
                        <td>24 weeks</td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="12" name="12" ><label class="form-control-checkbox minor" for="12" style="padding:0;"></td>
                        <td>22</td>
                        <td>First Outpatient</td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>Limited Availabilty</td>
                        <td><strong><span style="background-color:red;color:#fff;">Limited<br /> Capacity</span></strong></td>
                        <td>No</td>
                        <td>&nbsp;</td>
                        <td>Ear, Nose &amp; Throat</td>
                        <td style="text-align:center;">&#9899;</td>
                        <td>NAME HOSPITAL</td>
                      </tr>
                </table>
          
          
          <div style="margin-top:2rem;float:right;">
          
            	      
                        
                            <a href="/erm/" style="padding-left:10px;">Cancel search</a>
                          	<a href="/erm/"><input type="submit" class="button" value="Book / refer later" style="margin-left:1rem;"></a>    
                            <a href="#popup2"><input type="submit" class="button" value="Book / refer now" style="margin-left:1rem;"></a> 
          
          
          </div>
    
    
    
    </div>
    
    </div>
    
    
    <div id="popup2" class="overlay2">
	<div class="popup2" style="top: 0 !important;">
		<!--<a class="close" href="#">&times;</a>-->
		<div class="content">
    
            
            <p>Please check that the following referral criteria meet the requirements of your patient.<br /> If not de-select the service.</p>
            
            <table class="service" style="padding:0rem;" >
                      <tr>
                        <th>Select</th>
                        <th>Service name</th>
                        <th>Referrer alert</th>
                        <th>Exclusions</th>
                        <th>Conditions treated</th>
                        <th>Suggested investigation</th>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="1" name="1" checked ><label class="form-control-checkbox minor" for="1" style="padding:0;"></td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td> </td>
                        <td>Any person under the age of 18 years old; 

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie arcu est, eget maximus dolor vehicula sed. </td>
                        <td>General ENT problems to include: 
chronic ear diseases, deafness and childhood deafness, dysphagia, glue ear, habitual snoring ,head and neck lumps, hearing loss and dizziness, hoarseness, nasal, childhood deafness, 
</td>
                        <td>Any investigations as appropriate e.g Xrays, MRI and CT scans
</td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="2" name="2" checked><label class="form-control-checkbox minor" for="2" style="padding:0;"></td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>Need prior approval from the CCG</td>
                        <td>Any person under the age of 18 years old; 

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie arcu est, eget maximus dolor vehicula sed. </td>
                        <td>Mastoiditis
Cholesteatoma
Protruding ears
Defects of the ear drum &amp; middle ear
Tear of ear lobe
</td>
                        <td> </td>
                      </tr>
                      <tr>
                        <td><input type="checkbox" id="3" name="3" checked><label class="form-control-checkbox minor" for="3" style="padding:0;"></td>
                        <td>Gen Adult - ENT - CITY TH (NAME Hosp) - CODE</td>
                        <td>Please do not book vertigo patients</td>
                        <td>Any person under the age of 18 years old; 

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie arcu est, eget maximus dolor vehicula sed. </td>
                        <td>EAR - discharge, infection, pain, tumour, glue 
NASAL - dysfunction, infection, blockage, trauma, polyp 
Sinusitis 
Tonsillitis ...
Adenoiditis 
Dysphasia 
Facial Nerve Palsy 
</td>
                        <td>Blood Pressure
</td>
                      </tr>
                </table>
            
            
            
            
            
          <div style="margin-top:2rem;float:right;">
          
            	      
                        
                            <a href="/erm/searchresults" style="padding-left:10px;">Cancel</a>
                          	<a href="/erm/searchresults"><input type="submit" class="button" value="Back with selected services" style="margin-left:1rem;"></a>    
                            <a href="/erm/check-later"><input type="submit" class="button" value="Continue with selected services" style="margin-left:1rem;"></a> 
          
          
          </div>
            
		</div>
	</div>
</div>
    
   
    


    
    
</main>

{% endblock %}



