{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
			<div style="float:right;" style="color:#ffffff;"><a href="/email-login-2/all-referrals" style="color:#ffffff;">View all referrals (3)</a> | <a href="/email-login-2/login" style="color:#ffffff;">Log out</a></div>
		</div>
	</div>
	<main id="content" role="main" style="padding-top:3rem;">
		<!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->
		<h1 class="heading-large" style="color: #0072C6;">
		Referral for Sam Taylor
		</h1>
		<div class="grid-row">
			<div class="column-two-thirds" >
					

							<!-- <div class="item">
								<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Date and time<br />
								<strong>Monday 18th November 2018, 1:30pm</strong></p>
							</div>
							<div class="item">
								<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Clinic<br />
								<strong>Rheumatology - Chapel Allerton Hospital - Leeds TH - RR8</strong></p>
							</div>
							<div class="item">
								<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Location<br />
								<strong>CHAPELTOWN ROAD
										LEEDS
										WEST YORKSHIRE
										England
										LS7 4SA</strong></p>
							</div>
							<div class="item">
								<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by<br />
								<strong>Dr Zubeir Smith at New Street Medical Practice</strong></p>
							</div> 
							<div class="item">
								<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Information <br />
								<strong>Please arrive 30 minutes before your appointment is due to start. Wear loose clothing.</strong></p>
							</div>
						</div> -->

				<div style="background:#dee0e2;padding:1rem;">
					<h3 class="heading-medium">Your appointment details</h3>

					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">Date and time<br />
						<strong>Wednesday 5 December 2018, 2:30pm</strong></p>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Clinic<br />
						<strong>Diabetic Medicine - St James's Hospital - Leeds TH - RR8</strong></p>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Location<br />
						<strong>BECKETT STREET
								LEEDS
								WEST YORKSHIRE
								England
								LS9 7TF</strong></p>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
							Information<br />
						<strong>Please arrive 15 minutes before your appointment is due to start. </strong></p>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;">
							Booking reference number<br />
						<strong>0002 5598 1001</strong></p>
					</div>
					<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">
						<p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by<br />
						<strong>Dr Zubeir Smith at New Street Medical Practice</strong></p>
					</div>
					
					<!--<a href="/pabs/allreferrals" style="padding-top: 2em !important;">View and manage all referrals </a>-->
				<p style="padding-top: 2rem !important; margin-bottom: 2rem !important;"><a href="/email-login-2/viewreferral">Change or cancel this appointment</a>.</p>

		</div>
		<p class="heading-medium" style="padding-top: 2rem !important;"">You have <a href="/email-login-2/all-referrals">3 referrals</a></p>

		
		<!-- <div style="border-left:10px solid #dee0e2;padding-left:2rem;margin-bottom:4rem;margin-top:4rem;">
			<h3 class="heading-medium"><img src="/public/images/icon-important.png" /> You have 3 referrals</h3>
			<p>When the clinic contacts you, they will need your Booking Reference Number and Password, so keep these with you.</p>
			<p>If the clinic does not contact you by Friday 15th December 2017, you can phone them on:0113 123 1234 (Monday to Friday, 9am to 5pm)</p>
		</div> -->
	</div>
	<div class="column-third">
	</div>
</div>
</main>
{% endblock %}