{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}


    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
<a href="/pabs/hello" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg" style="width:8px;" /> Back to start</a>

                  <div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
        </div>

        
    </div>


<main id="content" role="main" style="padding-top:3rem;">
    
  <div class="grid-row">
    <div class="column-two-thirds" >

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Change clinic
  </h1>
    
    
    <!--<h3 class="heading-medium">Sort by</h3>-->
    
    
    <!--<div style="margin-bottom: 3rem !important;">
    <a href="#" class="button button-secondary">Earliest appointment</a>&nbsp;
    <a href="#" class="button button-secondary">Nearest to your home</a>&nbsp;
    <a href="#" class="button button-secondary">Treatment wait</a>
        
    
    </div>-->


        

        
        
        
        
       
        
                <!--CLINIC 4--> 
        <div style="padding:1rem;border:3px solid #DCDCDC;margin-top:3rem;">

 <p><strong>General Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</strong><br />Hospital St, City, PO5 7CO</p>
            

            <table style="padding:0rem;" >
  <tr>
    <td style="width:70%;"><p>9 out of 10 patients start treatment in approximately</p></td>
    <td style="width:30%;"><p><strong>XXX Days</strong></p></td>
  </tr>
  <tr>
    <td style="width:70%;"><p>Distance from LS2 7TF</p></td>
    <td style="width:30%;"><p><strong>XXX Miles</strong></p></td>
  </tr>
  
<!--    <tr>
    <td style="width:70%;"><p>Average wait for treatment</p></td>
    <td style="width:30%;"><p><strong>XXX Weeks</strong></p></td>
  </tr>-->
</table>
            
            
            <p><a href="/pabs/appointment" class="button" style="margin-top: 1em !important;">Select clinic</a>
            </p>    
            
                	    <div class="form-group" style="padding-top: 2em !important;">

	    </div>
        
</div>
        
        
        <!--<h3 class="heading-medium">Referral to book</h3>-->    
        <div style="padding:1rem;border:3px solid #DCDCDC;margin-top:3rem;">

 <p><strong>General Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</strong><br />Hospital St, City, PO5 7CO</p>
            

            <!--<table style="padding:0rem;" >
              <tr>
                <td style="width:70%;"><p>First appointment approximately</p></td>
                <td style="width:30%;"><p><strong>XXX Days</strong></p></td>
              </tr>
              <tr>
                <td style="width:70%;"><p>Distance from LS2 7TF</p></td>
                <td style="width:30%;"><p><strong>XXX Miles</strong></p></td>
              </tr>
              <tr>
                <td style="width:70%;"><p>Average wait for treatment</p></td>
                <td style="width:30%;"><p><strong>XXX Weeks</strong></p></td>
              </tr>
            </table>-->
            
            
                    <div style="border-left:10px solid #dee0e2;padding-left:2rem;margin-bottom:4rem;">
                        
                        

                    
 
           <h3 class="heading-medium"><img src="/public/images/icon-important.png" /> This clinic is no longer allowing new appointments to be booked. </h3>    
          
        </div>  
            
        
                	    <div class="form-group" style="padding-top: 2em !important;">

	    </div>
        
</div>
        
        
    </div>
    <div class="column-third" style="padding-left: 3rem !important;">
        
        
        

        <div style="border-top:solid 1rem #004D86;margin-bottom:4rem;margin-top:2rem;">
    <h3 class="heading-medium" style="line-height: 30px;">Details of the appointment you have selected to change</h3>  
                    
            <!--<div style="background:#ffffff;padding:1.4rem;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;">                
                        Booking reference number<br /> 
                        <strong>0002 7480 8900</strong></p>
            </div>-->

                    <p style=""> 
Clinic name<br /> 
                        <a href="#">General Respiratory Medicine-Respiratory Medicine-CityTH (NAME Hosp)-CODE</a></p>
            
                    <p style=""> Date and time<br /> 
                        <a href="#">Monday 2nd May 2016, 2:00pm</a></p>

         


            
            
          
            
                	    <div class="form-group" style="padding-top: 2em !important;">

	       </div>
        
        </div>


    </div>
  </div>
    
    
</main>

{% endblock %}

