{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
<a href="/pabs/viewreferral" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg" style="width:8px;" />  Back to start</a>

                  <div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
        </div>

        
    </div>


<main id="content" role="main" style="padding-top:2rem;">

  <div class="grid-row">
      
      
    <div class="column-two-thirds" >
        
        <div style="border:5px solid #B10E1E;padding:2rem;margin-top:2rem;margin-bottom:3rem;">
            <h3 class="heading-medium" style="padding-top: 0px !important; margin-bottom: 0px !important;">Service error</h3>
            
            <p style="padding-top: 0px !important; margin-bottom: 0px !important;">We currently cannot cancel the appointment. Please try again later or contact your GP practice</p>
        
        </div>
        
  <h1 class="heading-xlarge" style="color: #0072C6;">
    Cancel an appointment
  </h1>
    


      

         <p style="padding-bottom:2rem;"><strong>Select a reason from the options below:</strong></p>
        
        <!--<h3 class="heading-medium">Referral to book</h3>-->    
        <div>
            
              <div class="form-item-wrapper" style="padding-top: 0rem !important;">
                  
 
                  
                <div class="form-group" >
                    <input type="radio" id="1" name="minor">
                        <label class="form-control-radio minor" for="1" style="padding-left:4rem;">
                            I intend to go private
                        </label>
                </div>
                <div class="form-group" >
                    <input type="radio" id="2" name="minor" >
                        <label class="form-control-radio minor" for="2" style="padding-left:4rem;">
                            I am on holiday
                        </label>
                </div>

                <div class="form-group" >
                    <input type="radio" id="3" name="minor" >
                        <label class="form-control-radio minor" for="3" style="padding-left:4rem;">
                            I am ill
                        </label>
                </div>

                <div class="form-group" >
                    <input type="radio" id="4" name="minor" >
                        <label class="form-control-radio minor" for="4" style="padding-left:4rem;">
                            I am busy
                        </label>
                </div>

                <div class="form-group" >
                    <input type="radio" id="5" name="minor" >
                        <label class="form-control-radio minor" for="5" style="padding-left:4rem;">
                            I no longer require an appointment
                        </label>
                </div>
                  
                <div class="form-group" >
                    <input type="radio" id="6" name="minor" >
                        <label class="form-control-radio minor" for="6" style="padding-left:4rem;">
                            Other
                        </label>
                </div>
            </div>
            

<p><a href="/pabs/cancel-complete" class="button " style="margin-top: 1em !important;margin-right:2rem;margin-bottom:2rem;">Cancel appointment</a></p>
                    <p style="padding-top: 0rem !important;"><a href="/pabs/viewreferral" style="margin-top: 2em !important;">Keep appointment</a>
            </p>  
            
    </div>
      </div>
        
    <div class="column-third">

        <!--<div style="border-top:solid 1rem #004D86;margin-bottom:4rem;margin-top:2rem;">
                <h3 class="heading-medium" style="line-height: 30px;">Appointment Details</h3>  
                    <p style="">Clinic name<br /> 
                        <strong>General Respiratory Medicine-Respiratory Medicine-CityTH (NAME Hosp)-CODE</strong></p>
            
                    <p style=""> Date and time<br /> 
                        <strong>Monday 2nd May 2016, 2:00pm</strong></p>

        
        </div>-->


    </div>
  </div>
    
    
</main>

{% endblock %}

