{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}


    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;

                  <div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
        </div>

        
    </div>


<main id="content" role="main" style="padding-top:4rem;">
  <!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->



  <div class="grid-row">
    <div class="column-two-thirds" >
        
        <div style="background-color:#28A197;color:#ffffff;padding:2rem;text-align:center;margin-bottom:4rem;">
          <h1 class="heading-xlarge" style="margin-bottom: 0px !important;color:#ffffff;">
    &#10004; The referral has been cancelled
  </h1>
            
            <h3 class="heading-medium">Please keep this information for your records</h3> 
        
        </div>
        

        
        
           
        <div style="background:#dee0e2;padding:1rem;">

            <div style="background:#ffffff;padding:1.4rem;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Booking reference number<br /> 
                        <strong>0002 7480 8900</strong></p>
            </div>

           

            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by <br /> 
                        <strong>Dr Zubeir Smith at Colton Medical Centre</strong></p>
            </div>

            
            </div>
                	    <div class="form-group" style="padding-top: 2em !important;">
            <div>
            
            <h3 class="heading-medium">What happens next?</h3>
                <p>The referral has been cancelled.</p>
                <p>If you would like to re-arrange please discuss with the person who referred you.</p>
            
            
            </div>
                            
        	    <!--<div class="form-group" style="padding-top:2rem;">
    <a href="/pabs/" class="button ">View referral</a>
	    </div>-->
                            
	    </div>
        

    </div>
    <div class="column-third">




    </div>
  </div>
    
    
</main>

{% endblock %}

