<style>
ul {
    list-style-image: url('/public/images/icon-important.png')
</style>


{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}
    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;

                  <div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
        </div>

        
    </div>


<main id="content" role="main" style="padding-top:3rem;">

  <!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Hello Mike Smith
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds" >
        
        <div style="border-left:10px solid #dee0e2;padding-left:2rem;margin-bottom:4rem;">
                    
 
           <h3 class="heading-medium"><img src="/public/images/icon-important.png" /> Your recent booking has been cancelled, you need to choose your appointment again. Please note your choice of clinics may have changed.</h3>  
            
            <p><strong>Why has this happened?</strong><br />If you would like to know more speak to NHS appointments line on 0345 60 88 88 8</p>
          
        </div>    
        
        
        <div style="background:#dee0e2;padding:1rem;">
          
                    
            <div style="background:#ffffff;padding:1rem;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;">                
                        Booking reference number<br /> 
                        <strong>0002 7480 8900</strong></p>
            </div>
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referring organisation<br /> 
                        <strong>Colton Mill Medical Centre</strong></p>
            </div>
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by<br /> 
                        <strong>Dr Zubeir Smith</strong></p>
            </div>
            
            
            
            <p style="margin-bottom: 0px !important;"><a href="/pabs/clinic" class="button" style="margin-top: 1em !important;margin-right:2rem;margin-bottom:2rem;">Choose your appointment</a>
            </p>  
            
                	    <div class="form-group" style="padding-top: 2em !important;">

	    </div>
        
</div>
    </div>
    <div class="column-third">




    </div>
  </div>
    
    
</main>

{% endblock %}

