{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}


    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
<a href="/pabs/hello" style="color:#ffffff;"><img src="/public/images/back-arrow-white.svg" style="width:8px;" /> Back to start</a>

                  <div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
        </div>

        
    </div>

<main id="content" role="main" style="padding-top:3rem;">

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Select a clinic
  </h1>
    
    <!--<h3 class="heading-medium">Sort clinics</h3>-->
    
    
    <!--<div style="margin-bottom: 3rem !important;">
    <a href="#" class="button button-secondary">Earliest appointment</a>&nbsp;
    <a href="#" class="button button-secondary">Nearest to your home</a>&nbsp;
    <a href="#" class="button button-secondary">Treatment wait</a>
        
    
    </div>-->
    
    
<!--THIS IS THE RTT STATEMENT THAT NEEDS CHECKING-->
    
    <!--<p>9 out of 10 patients start treatment <br />in approximately</p>-->
    
<!--THIS IS THE RTT STATEMENT THAT NEEDS CHECKING-->    
    


  <div class="grid-row">
    <div class="column-two-thirds" >
        
        <div style="padding:1rem;border:3px solid #DCDCDC;">
            <p><strong>General Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</strong><br />Hospital St, City, PO5 7CO</p>

                <table style="padding:0rem;" >
                    <tr>
                        <td style="width:70%;"><p>First appointment approximately</p></td>
                        <td style="width:30%;"><p><strong>XX Days</strong></p></td>
                    </tr>
                    <tr>
                        <td style="width:70%;"><p>Distance from LS2 7TF</p></td>
                        <td style="width:30%;"><p><strong>XXX Miles</strong></p></td>
                    </tr>
                    <tr>
                        <td style="width:70%;"><p>92% of patients start treatment in approximately</p></td>
                        <td style="width:30%;"><p><strong>XX Weeks</strong></p></td>
                    </tr>
                </table>
        
            <p><a href="/pabs/appointment" class="button" style="margin-top: 1em !important;">Select this clinic</a></p>    
        </div>
        
        
<!--CLINIC 2-->    
        
        <div style="padding:1rem;border:3px solid #DCDCDC;margin-top:3rem;">
            <p><strong>General Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</strong><br /></p>
            
                <div style="background-color:#DEE0E2;padding:1rem;margin:2rem 0rem 2rem 0rem;">
                    This is a telephone assessment clinic.
                </div>
            
                    <table style="padding:0rem;" >
                            <tr>
                                <td style="width:70%;"><p>First appointment approximately</p></td>
                                <td style="width:30%;"><p><strong>XXX Days</strong></p></td>
                            </tr>

                            <tr>
                                <td style="width:70%;"><p>92% of patients start treatment in approximately</p></td>
                                <td style="width:30%;"><p><strong>XXX Weeks</strong></p></td>
                            </tr>
                    </table>
            
            <p><a href="/pabs/appointment" class="button" style="margin-top: 1em !important;">Select this clinic</a>
            </p>    
            
        </div>
        
        
<!--CLINIC 3-->    

        <div style="padding:1rem;border:3px solid #DCDCDC;margin-top:3rem;">

            <p><strong>General Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</strong><br />Hospital St, City, PO5 7CO</p>
            
                    <table style="padding:0rem;" >
                        <tr>
                            <td style="width:70%;"><p>First appointment approximately</p></td>
                            <td style="width:30%;"><p><strong>XXX Days</strong></p></td>
                        </tr>
                        <tr>
                            <td style="width:70%;"><p>Distance from LS2 7TF</p></td>
                            <td style="width:30%;"><p><strong>XXX Miles</strong></p></td>
                        </tr>
                        <tr>
                            <td style="width:70%;"><p>92% of patients start treatment in approximately</p></td>
                            <td style="width:30%;"><p><strong>XXX Weeks</strong></p></td>
                        </tr>
                    </table>
 
                <div style="background-color:#DEE0E2;padding:1rem;margin:2rem 0rem 2rem 0rem;">
                    <p><strong>Booking instructions</strong></p> 
                    <p>To select this clinic please call:</p>
                    <p>Telephone: 0153 649 3300<br />Service open 09:30 - 17:00, Monday - Friday.</p>
                </div>
        
        </div>
        
<!--CLINIC 4--> 
        
        <div style="padding:1rem;border:3px solid #DCDCDC;margin-top:3rem;">

             <p><strong>Respiratory Medicine-Respiratory Medicine-Town (Name Hosp)-CODE</strong><br />Hospital St, City, PO5 7CO</p>

                <table style="padding:0rem;" >
                    <tr>
                        <td style="width:70%;"><p>First appointment approximately</p></td>
                        <td style="width:30%;"><p><strong>XXX Days</strong></p></td>
                    </tr>
                    <tr>
                        <td style="width:70%;"><p>Distance from LS2 7TF</p></td>
                        <td style="width:30%;"><p><strong>XXX Miles</strong></p></td>
                    </tr>
                    <tr>
                        <td style="width:70%;"><p>92% of patients start treatment in approximately</p></td>
                        <td style="width:30%;"><p><strong>XXX Weeks</strong></p></td>
                    </tr>
                </table>
            
            
            <p><a href="/pabs/no-appointment" class="button" style="margin-top: 1em !important;">Select clinic</a>
            </p>    
            
        </div>
        
        
</div>
      
    <div class="column-third">




    </div>
  </div>
    
    
</main>

{% endblock %}

