{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}


    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;
        </div>

        
    </div>

    {% include "includes/prototype-warning.html" %}

<main id="content" role="main">

  <!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Book your appointment
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Book, change or cancel your appointment online by entering your details on the next page, then click 
'Log In'.</p>
      <div class="text">
<h4 class="heading-small">What you'll need to know:</h4>
        
          
          <ul class="list-bullet">
          <li>Your Booking Reference Number (shown at the top of your appointment letter)</li>
          <li>Your Password (which your GP practice gave you)</li>
        </ul>
            
        	    <div class="form-group" style="padding:2rem 0rem 2rem 0rem;">
    <a href="/pabs/login" class="button button-get-started">Start now</a>
	    </div>

      <h3 class="heading-medium">Need help?</h3>
      <p>For security reasons, you have three attempts to enter your correct details. If you are unable to log in, please contact your GP practice.</p>

      <p>Please contact your GP practice if you do not have your letter or password.</p>

      <p>If you need assistance in choosing your clinic, booking, changing or cancelling your appointment call the e-Referral Service Appointments Line.</p>

      <p>Phone: 0345 60 88 88 8
Textphone: 0345 8 50 22 50</p>

      <p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
      </div>
    </div>
    <div class="column-third">

    </div>
  </div>
    
    
</main>

{% endblock %}

