{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}


    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;
        </div>

        
    </div>

    {% include "includes/prototype-warning.html" %}

<main id="content" role="main">

  <!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Book an appointment
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">

      <div class="text">
<h4 class="heading-small">You will need:</h4>
        
          
              <ul class="list-bullet">
                  <li>Your booking reference number from the top of your appointment letter<br />
                      <img src="/public/images/PatientLetter-diagram-1.jpg" style="padding-top:2rem;width: 80%;height: auto;"/></li>
                  <li>Your password which your GP practice gave you</li>
                </ul>
          
          <details>

  <summary><span class="summary">Not got your password  </span></summary>

  <div class="panel panel-border-narrow">

    <p>
Please contact your GP practice if you do not have your letter or password.
    </p>

  </div>

</details>
            
        	    <div class="form-group" style="padding:2rem 0rem 4rem 0rem;">
    <a href="/pabs/login" class="button button-get-started">Start now</a>
	    </div>

          <!--<h3 class="heading-medium" >Need help?</h3>

      <p>If you need assistance in choosing your clinic, booking, changing or cancelling your appointment call the e-Referral Service Appointments Line.</p>

      <p><strong>Phone:</strong> 0345 60 88 88 8<br />
<strong>Textphone:</strong> 0345 8 50 22 50</p>
          

      <p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
          
          <p><strong>Frequently asked questions</strong></p>-->
          
<!--FAQ's-->
  <!--<details>

  <summary><span class="summary">What is NHS e-Referral Service?  </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   For some services, the NHS is required by law to offer you a choice, known as 'legal right to choice'. You currently have a legal right to:
    </p>
              <ul class="list-bullet">
                  <li>choose which hospital or clinic to go to for your outpatient appointments</li>
                  <li>choose which consultant-led team will be in charge of your treatment, as long as that team provides the treatment you require.</li>
                </ul>
    <p>
   <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/NHShospitals/Pages/HospitalsSummary.aspx#choice">See the section choosing a hospital for more information</a>
    </p>
              <ul class="list-bullet">
                  <li>choose which mental health provider and team you're referred to by your GP for your outpatient appointments. <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/mental-health-services-explained/Pages/accessing%20services.aspx">See the section how to access mental health services for more information.</a> </li>
                </ul>
      
 <p>
      <a href="https://www.gov.uk/government/publications/the-nhs-choice-framework">Download the NHS Choice Framework from the GOV.UK website for more detailed information</a>
    </p>

  </div>

</details>
          
          
          
          
          

          
          
          
          
          
          
          
          
          <details>

  <summary><span class="summary">Will NHS e-Referral Service reduce my waiting time?  </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   If your referral is for non-urgent care, you have the right to start treatment, led by a consultant, within 18 weeks of being referred, unless you wish to wait longer or waiting longer is clinically right for you. For more information, <a href="http://www.nhs.uk/choiceintheNHS/Rightsandpledges/Waitingtimes/Pages/Guide%20to%20waiting%20times.aspx">read our guide to waiting times (NHS Choices website).</a>
    </p>

    <p>
      NHS e-Referral Service will provide you with information about appointment dates and times that are available from healthcare providers, allowing you to make a decision that is most suitable for you.
    </p>

  </div>

</details>
          
  <details>

  <summary><span class="summary">Why do I get the message 'no appointments available'?   </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   This is due to the healthcare provider not having released enough appointments into NHS e-Referral Service. Individual healthcare providers are responsible for making their appointments available through the NHS e-Referral Service to make sure patients, GPs and other referrers can book appointments electronically.
    </p>

    <p>
      The majority of healthcare providers release new appointment slots overnight, so it is worth trying again the following day. Alternatively, you can either choose a different provider or send your details on to your preferred healthcare provider, who will then contact you to arrange your appointment. 
    </p>

  </div>

</details>
          
  <details>

  <summary><span class="summary">Why do I get several reminder letters about my appointment?  </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   For routine appointments, The Appointments Line automatically sends out two letters to remind patients to book their appointment. The first letter is sent 14 days after you’ve been referred by your GP. A second letter is sent 14 days after the first letter if the appointment is still not booked. Depending on the urgency of your referral, you may receive your letter sooner.
    </p>

    <p>
      Sometimes, the time that you make your booking and when a letter is sent out can overlap. Be aware that the healthcare provider you have booked your appointment with is using a system that may not yet be linked to the NHS e-Referral Service. This may mean that extra copies of letters are written and sent unless the hospital updates NHS e-Referral Service.
    </p>

  </div>

</details>
          
          
  <details>

  <summary><span class="summary">What should I do if The Appointments Line is busy?   </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   The Appointments Line is an easy way to book, change or cancel your appointment, and in many cases your call will be answered promptly. During peak times you may experience a delay, and hear an automated message telling you that the service is busy. However, if you stay on the line the team will answer your call as soon as possible.
    </p>

    <p>
      If you feel un-happy with the service you receive from The Appointment Line, you can send an email to TAL.feedback@nhs.net.
    </p>

  </div>

</details>
          
  <details>

  <summary><span class="summary">How secure is NHS e-Referral Service?     </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   For the NHS e-Referral Service to work, your personal details such as name, address, date of birth and why you are being referred, will be sent electronically to your chosen healthcare provider. Many GP practices already store patient information on their clinical computer systems.
    </p>

    <p>
      NHS e-Referral Service follows strict national and international standards and requirements for holding and transferring accurate information electronically, including <a href="http://www.iso.org/iso/home/standards/management-standards/iso27001.htm">ISO 27001</a> and the <a href="http://systems.digital.nhs.uk/rasmartcards/strategy/egif">eGovernment Interoperability Framework (eGIF)</a>. NHS e-Referral Service also meets the conditions of the <a href="https://www.gov.uk/data-protection/the-data-protection-act">Data Protection Act.</a>
    </p>

  </div>

</details>
  <details>

  <summary><span class="summary">Why have I been locked out?  </span></summary>

  <div class="panel panel-border-narrow">

    <p>
   NHS e-Referral Service uses record locking to protect the confidentiality of each patients’ appointment requests. As a security measure, if you try to access your appointment details online but enter your log-in details incorrectly more than three times, a lock will be put in place. After 30 minutes of inactivity the NHS e-Referral Service removes the lock. If you then still having difficulties, you can contact The Appointments Line on 0345 608 8888 to get the lock removed.
    </p>

  </div>

</details>-->
          
          
      </div>
    </div>
    <div class="column-third">

    </div>
  </div>
    
    
</main>

{% endblock %}

