{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;


        </div>

        
    </div>

    {% include "includes/prototype-warning.html" %}

<main id="content" role="main">

  <!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Log in
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds" >

        
        <div style="background:#dee0e2;padding:1.5rem;">
                <div>           
    <label class="form-label" for="first-label" style="padding-top:0;padding-bottom:1rem;"><strong>Booking reference number</strong></label>
            <input type="text" id="first-label" class="form-control"> 
    <label class="form-label" for="first-label" style="padding-top:3rem;padding-bottom:1rem;"><strong>Year of birth</strong></label>
            <input type="text" id="Year of birth" class="form-control"> 
    <label class="form-label" for="first-label" style="padding-top:3rem;padding-bottom:1rem;"><strong>Password</strong></label>
            <input type="text" id="Password" class="form-control"> 
</div>
    <a href="/pabs/hello" class="button" style="margin-top: 2em !important;">Log in</a>
            
                	    <div class="form-group" style="padding-top: 2em !important;">

	    </div>
        
</div>
        
        
        
              <h3 class="heading-medium" >Problems signing in</h3>
          
  <details>

  <summary><span class="summary">Other languages</span></summary>

  <div class="panel panel-border-narrow">

    <p>We currently don't translate the full service in other languages.</p>
      
      <p>For more information, please follow this link.</p>

  </div>

</details>  

        
        <details>

  <summary><span class="summary">Don't have a referral letter</span></summary>

  <div class="panel panel-border-narrow">

    <p>
   Please contact your GP practice. <a href="http://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find your GP contact details on NHS Choices</a></p>

  </div>

</details>
        
  <details>

  <summary><span class="summary">Don't have a booking reference number</span></summary>

  <div class="panel panel-border-narrow">

    <p>
      Please contact your GP practice. <a href="http://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find your GP contact details on NHS Choices</a></p>

  </div>

</details>
        
        
  <details>

  <summary><span class="summary">Don't have a password</span></summary>

  <div class="panel panel-border-narrow">

    <p>
      Please contact your GP practice. <a href="http://www.nhs.uk/Service-Search/GP/LocationSearch/4">Find your GP contact details on NHS Choices</a></p>

  </div>

</details>

  <details>

  <summary><span class="summary">Need assistance with your booking?</span></summary>

  <div class="panel panel-border-narrow">

    <p>
      If you need assistance in choosing your clinic, booking, changing or cancelling your appointment call the e-Referral Service Appointments Line.</p>

<p><strong>Phone:</strong> 0345 60 88 88 8<br />
    <strong>Textphone:</strong> 0345 8 50 22 50</p>

<p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).
      
      </p>

  </div>

</details>
        
        
        
    </div>
    <div class="column-third">




    </div>
  </div>
    
    
</main>

{% endblock %}

