{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}

    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
<a href="/pabs/allreferrals" style="color:#ffffff;text-decoration: none;"> &nbsp;</a>

                  <!--<div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>-->
        </div>

        
    </div>

    
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds" >
  <h1 class="heading-xlarge" style="color: #0072C6;">
    This service is temporarily unavailable
  </h1>
		<p>We are currently performing scheduled maintenance</p>
    


              <h3 class="heading-medium" >What next?</h3>
		
		<p>Please try again later.</p>
        
      <p>If you need help in choosing your clinic, booking, changing or cancelling your appointment call the e-Referral Service Appointments Line.</p>

      <p><strong>Phone:</strong> 0345 60 88 88 8<br />
<strong>Textphone:</strong> 0345 8 50 22 50</p>
          

      <p>Appointments Line opening hours are weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
        
        <!--<h3 class="heading-medium">Referral to book</h3>-->    

    <div class="column-third">




    </div>
  </div>
	</div>
    
    
</main>

{% endblock %}

