{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}Blank page{% endblock %}

{% block content %}
    <div role="banner" id="global-header" style="background-color:#004D86;">
      <div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
          
&nbsp;

                  <div style="float:right;"><a href="/pabs/" style="color:#ffffff;">Log out</a></div>
        </div>

        
    </div>


<main id="content" role="main" style="padding-top:3rem;">

  <!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->

  <h1 class="heading-xlarge" style="color: #0072C6;">
    Hello Mike Smith
  </h1>

  <div class="grid-row" style="margin-top:5rem;">
    <div class="column-two-thirds" >

        
        
<!--- Referral TO BOOK START-->        
        <!--<h3 class="heading-medium">Referral to book</h3>-->    
        <!--<div style="background:#dee0e2;padding:1rem;margin-bottom:4rem;">
          
                    
            <div style="background:#ffffff;padding:1.4rem;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;">                
                        Booking reference number<br /> 
                        <strong>0002 7480 8900</strong></p>
            </div>
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referring organisation<br /> 
                        <strong>Colton Mill Medical Centre</strong></p>
            </div>
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by<br /> 
                        <strong>Dr Zubeir Smith</strong></p>
            </div>
            
            
            
            <p style="margin-bottom: 0px !important;"><a href="/pabs/clinic" class="button" style="margin-top: 1em !important;margin-right:2rem;margin-bottom:2rem;">Book your appointment</a>
            </p>  
            
                	    <div class="form-group" style="padding-top: 2em !important;">

	       </div>
        
        </div>-->
        
<!--- Referral TO BOOK FINISH-->  
        
<!--- BOOKED START-->        
        <!--<h3 class="heading-medium">Booked</h3>-->    

        
        <div style="background:#dee0e2;padding:1rem;">
            <div style="background:#ffffff;padding:1.4rem;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;">                
                        Booking reference number<br /> 
                        <strong>0002 7480 8900</strong></p>
            </div>
            
            
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">          
                <table style="margin-bottom: 0px !important;">
                              <tr>
                                <td style="padding: 0px !important;"><p style="margin-bottom: 0px !important;padding-top:0px;">Date and time <br />
                                    <strong>Monday 2nd May 2016, 2:00pm</strong></p>
                                    </td>
                                <td style="padding: 0px !important;text-align:right;">
                                    <p style="margin: 0px !important;padding-top:0px;"><a href="/pabs/change-appointment">Change</a></p></td>
                              </tr>
                </table>
                
            </div>
            
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">          
                <table style="margin-bottom: 0px !important;">
                              <tr>
                                <td style="padding: 0px !important;"><p style="margin-bottom: 0px !important;padding-top:0px;">Clinic <br />
                                    <strong>General Respiratory Medicine-Respiratory Medicine-CityTH (NAME Hosp)-CODE</strong></p>
                                    </td>
                                <td style="padding: 0px !important;text-align:right;">
                                    <p style="margin: 0px !important;padding-top:0px;"><a href="/pabs/change-clinic">Change</a></p></td>
                              </tr>
                </table>
                
            </div>

          
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Location<br /> 
                        <strong>Beckett St, Leeds, LS9 7TF</strong></p>
            </div>
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred Organisation <br /> 
                        <strong>Colton Mill Medical Centre</strong></p>
            </div>
            
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Referred by <br /> 
                        <strong>Dr Zubeir Smith</strong></p>
            </div>
            <div style="background:#ffffff;padding:1.4rem;margin-top:2px;">           
                    <p style="padding-top: 0px !important; margin-bottom: 0px !important;"> Information <br /> 
                        <strong>Please arrive 30 minutes before your appointment is due to start. Wear loose clothing.</strong></p>
            </div>
            <!--<div style="background:#ffffff;padding:1.4rem;margin-top:2px;">          
                <a href="/pabs/additionalreq">
                <table style="margin-bottom: 0px !important;">
                              <tr>
                                <td style="padding: 0px !important;"><p style="color:#231f20;margin: 0px !important;padding-top:0px;">Support booked by your GP practice for this appointment <br />
                                    <strong>Advocacy, interpreter, transport</strong></p>
                                    </td>
                                <td style="padding: 0px !important;text-align:right;">
                                    <p style="margin: 0px !important;padding-top:0px;"><a href="/pabs/additionalreq">Change</a></p></td>
                              </tr>
                </table>
                </a>    
                
            </div>-->
            
            

            
            
            
            <!--<p style="padding-top: 2rem !important;"><a href="/pabs/cancel-appointment" style="margin-top: 2em !important;">Cancel appointment</a>
            </p>-->  
            
            <!--<p style="padding-top: 1rem !important;"><a href="/pabs/#" style="margin-top: 2em !important;">View / print referral letter</a>
            </p>-->  
            
                	    <div class="form-group" style="padding-top: 2em !important;">

	    </div>
        
</div>
        
        
        
<!--- BOOKED FINISH-->  
        
        
        
        
    </div>
    <div class="column-third">




    </div>
  </div>
    
    
</main>

{% endblock %}

