<html id="header-example-1">
    <head>
        <link href="/public/stylesheets/header.css" media="screen" rel="stylesheet" type="text/css" />
        <title>e-Referral Service</title>
    </head>
    <body>
        <header>
            <div class="nhsers-c-header-logo">
                <div class="nhsers-c-header-logo-inner">
                    <img src="/public/images/nhs-rev-logotype.svg">
                    <h1>e-Referral Service</h1>
                </div>
            </div>
            <div class="nhsers-c-header-links">
                <div class="nhsers-c-header-links-inner">
                    <ul>
                        <li><a href="">Help</a></li>
                        <li class="nhsers-c-header-links-profile-loggedout">Altaf, Noor</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </header>
    </body>
</html>