{% extends 'templates/myr_transaction_layout.html' %}
{% block pageTitle %}Blank page{% endblock %}
{% block content %}
	<div role="banner" id="global-header" style="background-color:#004D86;">
		<div class="header-container" style="padding:1rem 0rem 1rem 0rem;">
			&nbsp;
		</div>
	</div>
	<main id="content" role="main">
		<!--<a href="/examples/" class="example-back-link">Back to the prototype kit examples</a>-->
		<h1 class="heading-xlarge" style="color: #0072C6;">
		We are emailing you a login access code
		</h1>
		<div class="grid-row">
			<div class="column-two-thirds" >
				<p>Your login access code will be sent to the email address you provided. It can take a few minutes for this email to arrive from NHSreferrals@nhs.net.</p>
				<p>When you receive your access code <a href="/email-login/login-ubrn-link">continue to login</a>.</p>
				<details>
					<summary><span class="summary">Need help logging in?  </span></summary>
					<div class="panel panel-border-narrow">
						<p>If you do not have your booking reference number please contact your referring organisation.</p>
						<p><a href="http://www.nhs.uk/service-search">Find your referring organisation’s details on NHS Choices.</a></p>
						<p>If you do have your booking reference number, but need assistance in choosing, booking, changing or cancelling your appointment, please call the e-Referral Service Appointments Line.</p>
						<p><strong>Phone:</strong> 0345 60 88 88 8<br />
						<strong>Textphone:</strong> 0345 8 50 22 50</p>
						<p>Appointments Line opening hours are: weekdays 8am to 8pm; weekends and bank holidays 8am to 4pm (closed on Christmas Day).</p>
					</div>
				</details>
			
			</div>
			<div class="column-third">
			</div>
		</div>
	</main>
{% endblock %}