{% extends 'templates/empty.html' %} {% block pageTitle %}eRS prototypes{% endblock %} 
{% block content %}
<div role="banner" id="global-header" style="background-color:#ffffff;border-bottom: 1px solid #979797;height:48px;">
	<div class="header-container" style="padding:1rem 0rem 2rem 0rem;">
		<div style="float:left;">
			<strong>Training environment</strong> | <a href="">User guide</a>
		</div>
		<div style="float:right;">
			<a href="/training-environment/account">Profile selection</a>
		</div>
	</div>
</div>

<!-- <div role="banner" id="global-header" style="background-color:rgb(253, 243, 183);border-bottom: 1px solid #979797;height:36px;">

		<div style="float:left;padding: 0px 0px 0px 10px;">
			<p style="font-size:1rem;font-weight: 600;">Training environment  <a href="/training-environment/login" style="padding:0px 0px 0px 20px;">Log out</a></p>
		</div>

</div> -->
<img src="../public/images/training/role-selection.png" border=0 width="100%" />

{% endblock %}