// NHS template

body {
  background: $white;
}

#global-header {
  background-color: $nhs-blue;
  //border-bottom: 40px solid #004D86;//

  @extend %contain-floats;

  .header-container {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }






  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }

  .header-controls {
    clear: both;
    padding-top: 15px;
    @include media(tablet) {
      clear: none;
      float: right;
      height: 66px;
      padding-top: 0;
    }
  }

  #header-search {
    float: left;
    width: calc(100% - 120px);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @include media(tablet) {
      width: auto;
    }
    .form-control {
      float: left;
      width: 140px;
      width: calc(100% - 40px);
      height: 40px;
      line-height: 40px;
      padding-left: 6px;
      margin: 0;
      border: none;
      outline: none;
      @include media(tablet) {
        width: 260px;
      }
    }
    button {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      background: url('/public/images/icomoon-search.svg') no-repeat center $nhs-black;
      background-size: 24px;
      border: none;
    }
  }
}

.service-header {
	background-color: rgba($nhs-blue, 0.1);
}

.service-header .service-name {
  max-width: 960px;
	margin: 0 15px;
  padding: 2px 0 8px 0;

  @include media(tablet) {
    margin: 0 auto;
    padding: 9px 30px 15px 30px;
  }
}



html,
#footer {
  background-color: #DEE0E2;

}

html,
#myrfooter {
  background-color: #d7dbdb;
  border-top: #b5b9b9;
  border-top-style: solid;
  border-top-width: 1px;
}

#footer {

  color: #231F20;
  padding: 2rem 0;
  //border-top: 6px solid $nhs-grey-1;

  @extend %contain-floats;

  a {
    color: #231F20;
  }

  .footer-wrapper {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  //transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 80%;
  position: relative;
  //transition: all 5s ease-in-out;
    border: 1px solid #231f20;
    box-shadow: inset 0px 0px 0px 2px #b9d2dc;
-webkit-appearance: none;
border-radius: 0;
}



.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


////pop up on load///




.popup2 .content {
  max-height: 30%;
  overflow: auto;
}

/*Let's make it appear when the page loads*/
.overlay2:target:before {
    display: none;
}
.overlay2:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay2 .popup2 {
  background: #fff;
  width: 80%;
  position: fixed;
  top: 0;
  left: 0%;
    right:0;
  padding: 25px;
  margin: 70px auto;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.overlay2:target .popup2 {
    top: -100%;
    left: -100%;
}

@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  .overlay .popup{
    width: 70%;
    left: 15%;
  }
}

