@import '../typography/variables';
@import '../typography/mixins';

// Styling for radios and checkboxes

// Hide native controls - (!!!)
input[type='checkbox'],
input[type='radio']{
  display: none;
}


.form-control-checkbox,
.form-control-radio {
  @include box-sizing(border-box);
  position: relative;
  display: block;
  width: auto;
  float: left;
  min-height: 4rem;
  line-height: 2rem;
  margin: 0;
  padding: 1rem 2rem 1rem 4rem;
  background-color: $nhs-grey-4;

  // Show click area on hover
  &:hover {
    cursor: pointer;
    outline: 1px solid $nhs-black;
  }

  &:focus {
    outline: 3px solid $nhs-yellow;
  }

  &.minor {
    padding-left: 3rem;
    background-color: transparent;
      

    &:hover {
      outline: none;
      text-decoration: underline;
    }
  }

}

// Create box style for checkbox and radio
.form-control-checkbox:before,
.form-control-radio:before {
  content: "";
  position: absolute;
  left: 0rem;
  top: 0.5rem;
  @include box-sizing(border-box);
  width: 3rem;
  height: 3rem;
  border: 2px solid $nhs-black;

}

// Make radios circles not boxes
.form-control-radio:before{
  border-radius: 100%;
  outline: 0;
  border: 2px solid $nhs-black;
}

// "Minor" styles
.form-control-checkbox.minor:before,
.form-control-radio.minor:before {
  left: 0rem;
}

// Checked style
input[type='checkbox']:checked + .form-control-checkbox:before{
  content: "✔";
  font-size: 3rem;
  text-indent:1px;
  line-height: 3rem;

}

input[type='radio']:checked + .form-control-radio:before{
  content: "●";
  line-height: 2rem;
  font-size: 4rem;
  text-indent:1px;
  @include breakpoint(break-1) {
  font-size: 4rem;
    text-indent: 1px;
  }
}
