{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}eRS prototypes{% endblock %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}
{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Assets",

    }
  }
})}}


<main id="content" role="main">
  <h1 class="heading-xlarge">Assets</h1>
    <p></p>

        <div class="grid-row">
          <div class="column-half">

            <h2 class="heading-large">Documents</h2>

            <ul>
              <li><a href="/public/images/UserJourney.pdf">Roadmap</a></li>
              <li><a href="/pabs/start">Personas</a></li>
            </ul>

      </div>

      <div class="column-half">

            <h2 class="heading-large">Programme information</h2>

            <ul>
              <li><a href="/assets/acronyms">Acronyms</a></li>

            </ul>

      </div>

    </div>


  <!--<ul>
    <li><a href="/examples">Example pages</a></li>
  </ul>-->
</main>

{% endblock %}
