{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}eRS prototypes{% endblock %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}
{% block content %}

{{ ui_element_macros.breadcrumbs({
  items: {
    1: {
      text: "Example NHS.UK pages",

    }
  }
})}}


<main id="content" role="main">
  <h1 class="heading-xlarge">Example NHS.UK pages</h1>
    <p></p>

    <div class="grid-row">
      <div class="column-half">
        <h2>Guides</h2>
        <ul>
          <li><a href="/depression-and-anxiety">Depression and anxiety</a></li>
          <li><a href="/type-2-diabetes">Type 2 diabetes</a></li>
        </ul>
        <h2>Transactions</h2>
          <ul>
            <li><a href="/register-with-a-gp">Register with a GP</a></li>
            <li><a href="/book-an-appointment">Book an appointment</a></li>
            <li><a href="/planner">Planner</a></li>
          </ul>
      </div>
      <div class="column-half">
        <h2>Conditions</h2>
        <ul>
          <li><a href="/alpha-conditions/fungal-nail-infection">Fungal nail infection</a></li>
          <li><a href="/alpha-conditions/hand-foot-and-mouth-disease">Hand foot and mouth disease</a></li>
          <li><a href="/alpha-conditions/head-lice">Head lice</a></li>
          <li><a href="/alpha-conditions/shingles">Shingles</a></li>
          <li><a href="/alpha-conditions/warts">Warts</a></li>
        </ul>


      </div>
    </div>


  <!--<ul>
    <li><a href="/examples">Example pages</a></li>
  </ul>-->
</main>

{% endblock %}
