{% extends 'templates/nhs_transaction_layout.html' %}
{% block pageTitle %}eRS design and user research{% endblock %}
{% block content %}
	<main id="content" role="main">
		<h1 class="heading-xlarge">Design and user research <br> for e-Referral service</h1>
		<div class="grid-row">
			<div class="column-third">
				<a href="/prototypes"><h3 class="heading-medium">Prototypes</h3></a>
				<p>We use prototypes to test our ideas with users.</p>
			</div>
			<div class="column-third">
				<a href="/assets"><h3 class="heading-medium">Assets</h3></a>
				<p>Documents and information about the program. Includes a list of acronyms.</p>
			</div>
			<div class="column-third">
				<h3 class="heading-medium"><a href="/examples">Example NHS.UK pages</a></h3>
				<p>Templates and examples of pages in NHS.UK</p>
			</div>
		</div>
	</main>
{% endblock %}