{% extends 'templates/nhs_transaction_layout.html' %}
{% block pageTitle %}eRS prototypes{% endblock %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}
{% block content %}

	{{ ui_element_macros.breadcrumbs({
		items: {
		  1: {
			text: "Prototypes",
			href: "/prototypes"
		  },
		  2: {
			text: "Paperless"
		  }
		}
	  })}}
	<main id="content" role="main">
		<h1 class="heading-large">Prototypes for paperless patient communication</h1>
		<div class="grid-row">
			<div class="column-two-thirds">
				<h3>Initial designs</h3>
				<ul>
					<li><a href="https://marvelapp.com/4i688ig" target="_blank">Paperless login from email - marvel</a></li>
				</ul>
					
					
				<h3>Patient has one referral</h3>
				<ul>
					<li><a href="/email-login/start">NHS start page.</a></span></li>		
					<li><a href="/email-login/confirm-id">Link from email 1</a></li>
					<li><a href="/email-login/login-access-code">Link from email 2</a></li>
				</ul>
				
				<h3>Patient has multiple referrals</h3>
				<ul>
					<li><a href="/email-login-2/start">NHS start page.</a></span></li>		
					<li><a href="/email-login-2/confirm-id">Link from email 1</a></li>
					<li><a href="/email-login-2/login-access-code">Link from email 2</a></li>
					<li><a href="/email-login-2/all-referrals">3 referrals</a></li>
					<li><a href="/email-login-2/all-referrals-2">Multiple referral variations</a></li>
				</ul>
				
	
	
			</div>
			<div class="column--one-third">

			</div>
		</div>
	</main>
{% endblock %}