{% extends 'templates/nhs_transaction_layout.html' %}
{% block pageTitle %}eRS prototypes{% endblock %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}
{% block content %}
	{{ ui_element_macros.breadcrumbs({
	items: {
	1: {
	text: "Prototypes",
	}
	}
	})}}
	<main id="content" role="main">
		<h1 class="heading-xlarge">Prototypes</h1>
		<div class="grid-row">
			<div class="column-half">
				<h2 class="heading-large">Citizens</h2>

				<ul>
					<li><a href="/ras-landing/ras-landing-1">MYR RAS landing page (JIRA 30061)</a></li>
					<li><a href="/service-down/unavailable">Service unavailable</a></li>
					<li><a href="/paperless">Paperless communication to patients</a></li>
					<li><a href="/survey/complete-v3">Redesigned survey message</a></li>
					<li><a href="/access-code-login/start">Access code instead of password</a></li>					
					<li><a href="/nhsnumberlogin/start">NHS number instead of password</a></li>
					<li><a href="/asi3/start">Return to referrer with advice</a> <span class="font-xsmall">JIRA 25492</span></li>
					<li><a href="/asi2/start">Accept but book later</a> <span class="font-xsmall">JIRA 25493</span></li>
					<li><a href="/complete-screen/start">Improvements to completion screen</a></li>
					<!-- <li><a href="/cid/start">Citizen identity login journey</a></li> -->
					<li><a href="https://marvelapp.com/5fegg3g" target="_blank">Login accessibility enhancements</a></li>
					<li><a href="/accessibility/login">Page titles and content hints</a> <span class="font-xsmall">Improvements for accessibility JIRA 18884</span></li>
					<li><a href="/accessibility/clinic">Clinic selection</a> <span class="font-xsmall"> Improvements for accessibility JIRA 18885</span></li>
					<li><a href="/asi/start">MYR appointment slot issues journey</a></li>
					<li><a href="/public/images/myr-start.png">Manage your referral start page</a> <span class="font-xsmall">(Sketch for NHS beta)</span></li>
				</ul>
				<h3>Before August 2017</h3>
				<ul>
					<li><a href="/pabs/start">Patient Appointment Booking Service</a></li>
				</ul>
			</div>
			<div class="column-half">
				<h2 class="heading-large">Health professionals</h2>
				<ul>
					<li>
						Paperless comms - professional user workflow <span class="font-xsmall">JIRA 28548</span>
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://marvelapp.com/3g0hi58" target="_blank">Prototype v5</a> <span class="font-xsmall">Revised version at end of journey</span><br />&nbsp;&nbsp;&nbsp;&bull; <a href="https://marvelapp.com/3ecdf7j" target="_blank">Prototype v4</a> <span class="font-xsmall">Tested Sheffield, Liverpool, Leeds and Newcastle October 2018</span><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://marvelapp.com/efa9die" target="_blank">Prototype v3</a> <span class="font-xsmall">Tested Nottingham 19/09/18</span><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://marvelapp.com/9i266ce" target="_blank">Prototype v2b</a> <span class="font-xsmall">Not tested, design rejected.</span><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://EJRN61.axshare.com/01_service_selection.html" target="_blank">Axure Prototype 2</a> <span class="font-xsmall">(patient does not have an existing email in PDS)</span><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://7e3mks.axshare.com/01_service_selection.html" target="_blank">Axure Prototype 1</a> <span class="font-xsmall">(patient has existing emails in PDS)</span>`
						
						
					</li>
					<li>
						Pre-submission screen issue <span class="font-xsmall">JIRA 28526</span><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://eoq0df.axshare.com/01_patient_details.html" target="_blank">Direct prototype (popup)</a><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://9glhr9.axshare.com/01_patient_details.html" target="_blank">EMIS prototype (popup)</a><br />
						&nbsp;&nbsp;&nbsp;&bull; <a href="https://8484je.axshare.com/01_patient_details.html" target="_blank">EMIS prototype v2 (page)</a>
					</li>
					<li><a href="https://g8irq1.axshare.com/details.html" target="_blank">Referral summary screen redesign</a> <span class="font-xsmall">JIRA 27973</span></li>
					<li><a href="/header-proto-3/001-role-selection" target="_blank">Header re-design</a></li>
					<li><a href="https://marvelapp.com/4ca9ga3" target="_blank">Access code replacing password</a></li>
					<li><a href="/training-environment/login" target="_blank">Training environment login</a></li>
					<li><a href="/referral-screen/index" target="_blank">Referral screen concept</a></li>
					<li><a href="https://marvelapp.com/2h755jg" target="_blank">Capture if a referral was recommended on advice and guidance.</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/4i8b4ej" target="_blank">Draft UBRNs</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/35281j5" target="_blank">Reporting - ideas</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/a244b29" target="_blank">Reporting - production designs</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/73198h1" target="_blank">Worklist filters</a> <span class="font-xsmall">(opens in new window)</span></li>
				</ul>
				<h3>Before August 2017</h3>
				<ul>
					<li><a href="/erm">Enhanced Referral Management</a></li>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}