{% extends 'templates/nhs_transaction_layout.html' %}
{% block pageTitle %}eRS prototypes{% endblock %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}
{% block content %}
	{{ ui_element_macros.breadcrumbs({
	items: {
	1: {
	text: "Prototypes",
	}
	}
	})}}
	<main id="content" role="main">
		<h1 class="heading-xlarge">Prototypes</h1>
		<div class="grid-row">
			<div class="column-half">
				<h2 class="heading-large">Citizens</h2>
				<ul>
					<li><a href="/nhsnumberlogin/start">NHS number instead of password</a></li>
					<li><a href="/asi3/start">Return to referrer with advice</a> <span class="font-xsmall">JIRA 25492</span></li>
					<li><a href="/asi2/start">Accept but book later</a> <span class="font-xsmall">JIRA 25493</span></li>
					<li><a href="/complete-screen/start">Improvements to completion screen</a></li>
					<!-- <li><a href="/cid/start">Citizen identity login journey</a></li> -->
					<li><a href="https://marvelapp.com/5fegg3g" target="_blank">Login accessibility enhancements</a></li>
					<li><a href="/accessibility/login">Page titles and content hints</a> <span class="font-xsmall">Improvements for accessibility JIRA 18884</span></li>
					<li><a href="/accessibility/clinic">Clinic selection</a> <span class="font-xsmall"> Improvements for accessibility JIRA 18885</span></li>
					<li><a href="/asi/start">MYR appointment slot issues journey</a></li>
					<li><a href="/public/images/myr-start.png">Manage your referral start page</a> <span class="font-xsmall">(Sketch for NHS beta)</span></li>
				</ul>
				<h3>Before August 2017</h3>
				<ul>
					<li><a href="/pabs/start">Patient Appointment Booking Service</a></li>
				</ul>
			</div>
			<div class="column-half">
				<h2 class="heading-large">Health professionals</h2>
				<ul>
					<li><a href="/referral-screen/index">Referral screen concept</a></li>
					<li><a href="https://marvelapp.com/2h755jg" target="_blank">Capture if a referral was recommended on advice and guidance.</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/4i8b4ej" target="_blank">Draft UBRNs</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/35281j5" target="_blank">Reporting - ideas</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/a244b29" target="_blank">Reporting - production designs</a> <span class="font-xsmall">(opens in new window)</span></li>
					<li><a href="https://marvelapp.com/73198h1" target="_blank">Worklist filters</a> <span class="font-xsmall">(opens in new window)</span></li>
				</ul>
				<h3>Before August 2017</h3>
				<ul>
					<li><a href="/erm">Enhanced Referral Management</a></li>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}